[2021-11-17 14:11] theodu opened #1 "Test issue"

[2021-12-02 15:46] theodu opened #2 "[Article Proposal] test"
### My resource

**Topic:**

**Outline:**

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [ ] About Ai, Data-centric AI, Annotation, Machine Learning
- [ ] Other, specify

[2021-12-03 12:54] theodu opened #3 "[Request New Content] Create a feedback loop for ML in production"
### My Request

Create a feedback loop for ML in production

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article!

Thank you.

[2021-12-03 12:54] theodu opened #4 "[Request New Content] Creating a dataset for image segmentation"
### My Request

Creating a dataset for image segmentation

### Community vote
👍 Upvote if you like this topic

Thank you.

[2021-12-03 12:55] theodu opened #5 "[Request New Content] Using Hugging Face auto ML with Kili"
### My Request

Using Hugging Face auto ML with Kili

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-03 12:56] theodu opened #6 "[Request New Content] Object Detection on Custom Dataset with YOLO (v4) using PyTorch"
### My Request

Object Detection on Custom Dataset with YOLO (v4) using PyTorch

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-03 12:56] theodu opened #7 "[Request New Content] Import OCR pre-annotations in Kili"
### My Request

Import OCR pre-annotations in Kili

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-03 12:57] theodu opened #8 "[Request New Content] Guide to Human in the Loop Machine Learning"
### My Request

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-03 13:03] theodu opened #9 "[Request New Content] Things that can go wrong while labeling data and how to avoid them"
### My Request

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-03 13:05] theodu opened #10 "[Request New Content] Tips for optimizing your labeling operations"
### My Request

### Community vote
👍 Upvote if you like this topic

Thank you.

[2021-12-06 08:43] theodu opened #11 "[Request New Content] Why fast and effective data labelling is a competitive advantage"
### My Request

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-06 08:44] theodu opened #12 "[Request New Content] What code is to software, data is to AI"
### My Request

What code is to software, data is to AI.
Today code and computing power are not anymore a big issue for creating performant ML models. Data is. Improving the dataset has a bigger leverage effect than investing a lot of time on improving the model.
You can find the general idea in the talk of Edouard d'Archimbaud at World Summit AI, 2021 Amsterdam : https://www.youtube.com/watch?v=H

[2021-12-06 08:55] theodu opened #13 "[Request New Content] Better Machine Learning Demands Better Data Labeling"
### My Request

Better Machine Learning Demands Better Data Labeling

### Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-14 14:44] mzmmoazam opened #14 "[Data Augmentation using GAN's]"
### My resource

**Topic:**
Data Augmentation using GAN's

**Outline:**
- Describe Data Augmentation and GAN's
- Give detailed instructions and code snippets to develop a GAN network using PyTorch
- Provide more resources and references

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [x] An Article

[2021-12-14 15:11] nrupatunga opened #15 "[PyTorch Implementation]: Learning to Track at 100 FPS with Deep Regression Networks"
### **Single Object tracking**

### My resource
The main article covers about
- Conceptual understanding of the GOTURN paper (https://arxiv.org/abs/1604.01802)
- How to generate the data for training using imagenet dataset and visualizing the data after generation
- Training and inference

**Outline:** Understanding Single object tracking using neural network

### My content is

- [ ] Understandin

[2021-12-14 15:18] DamianArado opened #16 "[New article for Kili Blog] The basics of version control with Git and GitHub"
### My resource

**Topic:** Learn to clone and create version-controlled GitHub repositories using the command line.

**Outline:**
- Git and GitHub
- Using Git at the Command Line
- Creating a GitHub repository

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [x] An Article

[2021-12-14 15:22] DamianArado opened #17 "[New article for Kili Blog] Reproducible reports"
### My resource

**Topic:** How to create data science reports using R Markdown and the knitr package.

**Outline:**
- Reproducible Reports with R Markdown
- R Markdown
- knitr

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [x] An Article

[2021-12-14 15:22] rajarshi1 commented on #9
Hey, I would like to give this a shot!

[2021-12-14 15:23] neomatrixcode opened #18 "NVIDIA CUDA WSL2 + Docker Windows"
### My resource
The guide describes the steps to follow to install Docker containers for machine learning and use them with the Windows client, going through the installation and configuration of WSL2, CUDA Toolkit, Nvidia-docker and Docker Windows.

**Topic:**
NVIDIA CUDA in WSL2 + Docker Windows
**Outline:**

- Requirements
- Step 1: NVIDIA Driver CUDA in WSL
- Step 2: Install WSL2
- Step 3: Upd

[2021-12-14 15:26] DamianArado opened #19 "[New article for Kili Blog] Jenkins Plugins"
### My resource

**Topic:** One of the reasons for Jenkins’s popularity as a CI/CD tool is its large plugin ecosystem. This article will give an overview of Jenkins plugins and explain how to manage them.

**Outline:**
- Discuss about Jenkins plugins ecosystem
- Install plugins
- Upgrade plugins
- Uninstall plugins

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [x] An Article

[2021-12-14 15:58] FnSK4R17s commented on #8
🚀
## Summary
ML models are not perfect, their performance depends on the quality of data that they are trained on. Publically available datasets are more often than not, insufficient for training a model for production use cases. The dataset might not cover all the edge cases that might occur in real-world applications. In order to tackle this issue, we need to have a human in the loop who can fin

[2021-12-14 16:17] TanyaChutani commented on #6
I can take this up, however, I would love to do this with the latest version of Tensorflow (TF2.x)

[2021-12-14 17:11] pnchinmay commented on #16
I would really like to take up this article, if it's not already taken.

[2021-12-14 17:16] HiramCillo opened #20 "Handling gene expression data as tabular with TabNet"
### My resource

This will be a tutorial about **TabNet**. The main task is  multi-class classification, using **gene expression data** to predict cell types.  After that i'm going to get (and plot) the **feature importance** of the top genes.

**Topic:** Deep Learning, Tabular Data, XAI, Transformers, Bioinformatics

**Outline:**
- Introduction
- EDA
- Preprocessing and Quality Control
- Training

[2021-12-14 17:20] pnchinmay opened #21 "[New Article for Kili Blog] Setting up Deep Learning workstation in Ubuntu 20.04"
### My resource
The guide describes the steps to follow to setup Deep Learning workstation in Ubuntu 20.04. The article walks through the installation of GPU drivers, Anaconda, Pycharm for machine learning and use them with the Ubuntu client, going through their installation and configuration of GPU drivers, CUDA Toolkit, CuDNN, Anaconda, Conda env, and Pycharm.

**Topic:** Setting up Deep Learnin

[2021-12-14 17:37] pnchinmay opened #22 "[New Article for Kili Blog] Setting up Terminal workspace that will boost your workflow"
### My resource
The guide describes the steps to follow to setup Terminal in Ubuntu 20.04. The article walks through setting up of  zsh shell and its various plugins for machine learning and use them with the Ubuntu client, going through their installation and configuration of .zshrc, aliases, fzf among others.

**Topic:** Setting up Terminal workspace that will boost your workflow

**Outline:**
-

[2021-12-14 17:44] pnchinmay opened #23 "[New Article for Kili Blog] Managing Dotfiles to simplify setup in next workspace installation"
### My resource
This article walks through the introduction of dotfiles and the need to manage those with git. It goes through the installation of git, setting up a git repository, configuring using `--bare` flag and work tree, symlinking and other stuffs that involve in managing dotfiles.

**Topic:** Managing Dotfiles to simplify setup in next workspace installation

**Outline:**
- Installing git

[2021-12-14 18:25] junxiant opened #24 "[Article Proposal] Audio Transcription using Transformer Models"
### My resource

This will be a tutorial on how to do Audio Transcription. The transcription will be done using State-Of-The-Art transformer models like Wav2Vec2 and HuBERT. These models are free to use unlike the other transcription softwares from Google/Microsoft etc.

**Topic:** Deep Learning, Transformers, Audio Pre-processing, NLP, Transcription

**Outline:**
 - Overview of Wav2Vec2 and HuBER

[2021-12-14 18:31] rememberYou opened #25 "[Article Proposal] RDF2Vec: A Gentle Introduction to Create a 2D Feature Matrix from a Knowledge Graph"
### My resource

This article will start by briefly explaining the importance of the Semantic Web in Machine Learning. Then, this article will include a talk about some fundamental concepts, namely Knowledge Graphs, Word2Vec, and RDF2Vec. Finally, this article will present [pyRDF2Vec](https://github.com/IBCNServices/pyRDF2Vec) with some features and end with a conclusion.

**NOTE:** probably that

[2021-12-14 23:37] ayyucedemirbas opened #26 "[Article Proposal] Transfer Learning for Image Classification Tutorial"
### My resource

**Topic:**

Transfer Learning for Image Classification Tutorial

**Outline:**

In this tutorial, you will dive into deep learning model training basics such as data preprocessing, how gradient descent works, gradient descent optimization algorithms, batch normalization, how convolutional neural nets work, and the structures of widely used pre-trained models. After this background,

[2021-12-15 06:40] bm777 commented on #4
I can do this one :)

[2021-12-15 13:38] ayyucedemirbas opened #27 "[Article Proposal] Image Classification with Vision Transformer"
### My resource

**Topic:**

Image Classification with Vision Transformer

**Outline:**

In this tutorial, you will learn regression and classification, basics of image classification, data preparation, and image classification with vision transformer.

### My content is

- [x] A Kili Tutorial / Guide / How to article
- [ ] An Article

[2021-12-15 16:50] alperiox commented on #5
I can use AutoNLP from HuggingFace for auto ml and Kili for dataset labeling

[2021-12-15 17:24] parakalan opened #28 "[Article Proposal] How to train and deploy a ML model using TensorflowJS"
### My resource

**Topic:** How to train and deploy a ML model using TensorflowJS

**Outline:** In this tutorial, we'll see how to train a simple text classification model using TensorflowJS and deploy it on a simple javascript application. As data security becomes an issue, we need a better way to maintain data confidentiality. TensorflowJS helps us by training ML models on client side rather tha

[2021-12-15 17:50] alperiox commented on #6
I'm using PyTorch and I've done different computer vision projects before. I also have different Yolov4 implementations in PyTorch which can be used for fine-tuning the pre-trained model. I can use Kili's image bounding box labeling utilities to build the custom dataset.

[2021-12-15 19:49] LaksCastro opened #29 "[Request New Content] Music generation with Magenta"
### My resource

**Topic:** Music generation with the pre-trained magenta models using `magenta.js`

**Outline:** In this article _how-to_ style we'll cover the basic understanding about how to generate melody using the `magenta.js` library, what we can and we can't do. The full project is a player in the browser that shows a player with generated music. Besides the main concept, music is somethin

[2021-12-15 20:15] LaksCastro commented on #29
Also, I can write about this one if applicable, thanks

[2021-12-15 22:05] Graeme22 opened #30 "[Article Proposal] Tutorial: Building a Neural Network From Scratch in NumPy"
### My resource

**Topic:**
Building a Neural Network From Scratch in NumPy

**Outline:**
This article would be math-heavy. The goal would be to explain how deep learning works at a mathematical level, using linear algebra and calculus. Once that is established, I would demonstrate how to create a basic feed-forward neural network using only `numpy`, and then train it on the MNIST dataset to see h

[2021-12-16 06:11] TanyaChutani commented on #30
@kili-technology I can also take this up!

[2021-12-16 12:17] choutkamartin commented on #11
I would take this but I think the title is a bit misleading. Fast and effective data labelling was always a competitive advantage. So, I think the article should be renamed to "Why fast and effective data labelling is a competitive advantage".

[2021-12-17 14:23] Yukti-09 commented on #12
Can I please be assigned to this article?

[2021-12-17 15:41] Graeme22 opened #31 "[Article Proposal] Tutorial: Intro to Reinforcement Learning"
### My resource

**Topic:**
Tutorial: Intro to Reinforcement Learning

**Outline:**
This tutorial would give an introduction to reinforcement learning, starting with the mathematical basis behind it and finishing with a simple implementation using the OpenAI `gym` library. The goal is to introduce the basics of a new learning paradigm.

### My content is

- [x] A Kili Tutorial / Guide / How to art

[2021-12-18 12:36] sharmas1ddharth opened #32 "[Article Proposal] Tutorial: Extract Individual Components from a audio file of mixed elements using Unsupervised Learning"
### My resource

**Topic:**
Tutorial: Extract Individual Components from mixed recording using Unsupervised Learning

**Outline:**
This tutorial would give an introduction to Unsupervised Machine Learning (ICA) in Python by creating a small project in which individual components will be extracted from a recording of 2 or more mixed audio elements

### My content is

- [x] A Kili Tutorial / Guide /

[2021-12-19 04:22] dushyantRathore opened #33 "[Article Proposal] Tutorial : Introduction to Feature Selection"
### My resource

**Topic:**
Introduction to Feature Selection using Python

**Outline:**
The tutorial would introduce the various feature selection strategies and discuss their implementation in Python. It would start with designing a particular strategy, implementing it using Scikit-learn, and analyzing the results on a sample dataset.

### My content is

- [x] A Kili Tutorial / Guide / How to ar

[2021-12-20 23:53] lbugnon opened #34 "[Article Proposal] Tutorial: Making (and testing!) classifiers with imbalanced datasets"
### My resource

**Topic:**
Fundamentals on classification tasks when labels are imbalanced.

**Outline:**
Introduction on why would you care about dataset imbalance. Considerations on training classifiers with such datasets. Fundamentals on setting up metrics that take this into account. The tutorial will contain fundamentals and code using standard python libraries (numpy, sklearn, pandas). Exer

[2021-12-21 11:32] turhancan97 opened #35 "[Article Proposal] What is Confusion Matrix and Why Should We Use It?"
### My resource

**Topic:** What is Confusion Matrix and Why Should We Use It?

**Outline:** It is critical to accurately measure and evaluate the success of the machine learning model we have created.  It becomes easier to make improvements in the model and to work to produce predictions as close to reality by evaluating the correctly selected metrics. In this article, Confusion Matrix, one of th

[2021-12-21 11:33] Yukti-09 commented on #35
Hey, I hope that you are safe and well. Can I please be assigned to this article?

[2021-12-22 09:46] theodu commented on #6
Hello @TanyaChutani @alperiox
Thank you for your interest! That is great.
In order to get assigned to an article, can you please provide a detailed outline of the tutorial?
Best wishes

[2021-12-22 10:06] theodu commented on #35
Hello @turhancan97
Thank you for your interest and your article proposal.
It is an interesting topic, but it might be already very documented on the internet. We won't select your proposal.

For your next article proposal, we ask you to write a more detailed outline, with bullet points and key ideas. It helps us to understand what you have in mind and increase your chance to get assigned to your a

[2021-12-22 10:06] #35 closed

[2021-12-22 10:11] theodu commented on #34
Hello @lbugnon
Thank you for your article proposal. I like this topic and it might be good to do a tutorial on it.
However, this tutorial should be linked to the Kili platform and API. Could you please provide a more detailed outline with key points of what you might say and how you link this content to Kili?

Thank you and best wishes!

[2021-12-22 10:21] theodu commented on #33
Hello @dushyantRathore Hello @dushyantRathore
Thank you for your interest and your article proposal.
This subject does not really fit in the Kili scope because it is more model-development related rather than dataset creation related. We won't select your proposal.

For your next article proposal, we ask you to write a more detailed outline, with bullet points and key ideas. It helps us to underst

[2021-12-22 10:21] #33 closed

[2021-12-22 10:29] alperiox commented on #6
Definitely!

Introduction:
After introducing YOLOv4 and object detection shortly, we'll try to build an object detector that can detect trees or generally plants. We build our dataset from scratch by using Kili's labeling tools and fine-tune a pre-trained YOLO detector using PyTorch.

Goals:
After the tutorial, the reader would be able to build custom datasets for object detection tasks and have a

[2021-12-22 10:29] theodu commented on #32
Hello @sharmas1ddharth
Thank you for your interest and your article proposal.
This subject does not really fit in the Kili scope because we currently don't handle such advanced audio pre-processing but only speech-to-text tasks. We won't select this content proposal.

 However, if you have other ideas for an audio use case and how Kili could help to solve this use case, we will be interested!

For

[2021-12-22 10:29] #32 closed

[2021-12-22 10:31] theodu commented on #31
Hello @Graeme22
Thank you for your interest and your article proposal.
This subject does not really fit in the Kili scope because it does not deal with dataset creation or annotation at all. We won't select this content proposal.

For your next article proposal, we ask you to write a more detailed outline, with bullet points and key ideas. It helps us to understand what you have in mind and increa

[2021-12-22 10:31] #31 closed

[2021-12-22 10:36] theodu commented on #30
Hello @Graeme22 @TanyaChutani
Thank you for your interest and your article proposal.
This subject does not really fit in the Kili scope because it does not deal with dataset creation or annotation. The role of Kili Technology comes one step before the model development step. Our purpose is the Data and to help data scientists to optimize their model performances by working on the data and not on t

[2021-12-22 10:36] #30 closed

[2021-12-22 10:40] theodu commented on #29
Hello @LaksCastro
Thank you for your interest and your article proposal.
This topic is very interesting. We expect in the long term to develop data augmentation features on the platform but not data generation features. thus, we won't select this article proposal.

For your next article proposal, we ask you to write a more detailed outline, with bullet points and key ideas. It helps us to understa

[2021-12-22 10:40] #29 closed

[2021-12-22 10:44] theodu commented on #28
Hello @parakalan
Thank you for your interest and your article proposal.
This subject does not really fit in the Kili scope. The role of Kili Technology comes one step before the model development step. Our purpose is the Data and to help data scientists to optimize their model performances by working on the data and not on the model. Thus, We won't select this content proposal.

however, if you ha

[2021-12-22 10:44] #28 closed

[2021-12-22 10:54] theodu commented on #27
Hello @dushyantRathore Hello @dushyantRathore
Thank you for your interest and your article proposal.
This subject is very interesting but it would need to be related to Kili. I think that a lot of people might be interested in importing pre-annotations of image classification in the Kili platform to save time while annotating images for a classification task. Vision transformers can be a good way

[2021-12-22 13:51] theodu commented on #26
Hello @ayyucedemirbas
This content is too model-centric. Our content should be focused on data and how to optimize model performances while iterating on data. We won't select this article proposal

Thank you and best wishes!

[2021-12-22 13:51] #26 closed

[2021-12-22 13:55] ayyucedemirbas commented on #27
Thank you so much! I'm going to be working on a detailed outline. I'll let you know when it's done. Merry Christmas!

[2021-12-22 13:59] theodu commented on #24
Hello @junxiant
Thank you for your interest and your content proposal.
I think that this is an interesting article. The last part of the article would be to import the audio transcription as pre-annotation in Kili through the API.
We will wait for the article validation after New Year Eve and I will come back to you to keep you in touch.

Thank you and best wishes!

[2021-12-22 14:02] theodu commented on #23
Hello @turhancan97
Thank you for your interest and your article proposal.
However, this does not fit in the Kili Scope about managing a dataset for machine learning purposes of what I understand. thus, we won't select this article.

Thank you and best wishes!

[2021-12-22 14:02] #23 closed

[2021-12-22 14:04] theodu commented on #22
Hello @pnchinmay
Thank you for your article proposal.
However, setting up a workspace like you describe in your outline is not something that interests us on our blog. it should be more data-related.

Thank you for your proposal and best wishes!

[2021-12-22 14:04] #22 closed

[2021-12-22 14:05] theodu commented on #21
Hello @pnchinmay
Thank you for your article proposal.
However, setting up a workspace as you describe in your outline is not something that interests us on our blog. it should be more data-related.

Thank you for your proposal and best wishes!

[2021-12-22 14:05] #21 closed

[2021-12-22 14:08] theodu commented on #19
Hello @DamianArado
Thank you for your interest and your content proposal.
Model deployment is a good topic but it might be interesting in our blog if it is related to the data.
I invite you to have a look at the article looking for an author :[Create a feedback loop for ML in production](https://github.com/kili-technology/kili-blogger-program/issues/3).

Thank you and best wishes!

[2021-12-22 14:08] #19 closed

[2021-12-22 14:09] theodu commented on #18
Hello @neomatrixcode
Thank you for your article proposal.
However, setting up a workspace as you describe in your outline is not something that interests us on our blog. It should be more data-related.

Thank you for your proposal and best wishes!

[2021-12-22 14:09] #18 closed

[2021-12-22 14:15] #16 closed

[2021-12-22 14:15] theodu commented on #17
Hello @DamianArado
Thank you for your interest and your content proposal.
Could you give a more detailed outline and explain how such a reproducible report might help someone wanting to build a dataset for a machine learning task ?

Thank you and best wishes!

[2021-12-22 14:24] theodu commented on #15
Hello @nrupatunga
Thank you for your interest and your content proposal.
We already have an object tracker implemented on the platform doing SOT task. You can have a look at our [documentation](https://cloud.kili-technology.com/docs/video-interfaces/object-detection/#edit-an-object-on-multiple-frames). We use a model much more recent than GOTURN achieving very good performances.

As we already hav

[2021-12-22 14:24] #15 closed

[2021-12-22 14:31] theodu commented on #14
Hello @LaksCastro
Thank you for your interest and your article proposal.
This topic is very interesting. We expect in the long term to develop data augmentation features on the platform but not data generation features. As we don't expect to deal with it on a platform, doing a tutorial or article on it might be a good idea for people wanting to augment their dataset with such a method.

I come bac

[2021-12-22 14:41] theodu commented on #20
Hi @HiramCillo
Thank you for your interest and your content proposal.
I think that writing such an article for multi-class classification in bioinformatics is interesting. However Bioinformatic is not a data type currently used by the Kili community. I will get in touch with the team to see if it is relevant to write such an article at that time.
I will come back after New Year Eve to let you know

[2021-12-22 14:48] theodu commented on #25
Hello @rememberYou
Thank you for your interest and your content proposal.
This is a very interesting topic but we are currently not working on the RDF side. The community doesn't use it currently so it is not an article that will be interesting on the blog at the time.

Thank you and best wishes!

[2021-12-22 14:48] #25 closed

[2021-12-22 16:03] theodu commented on #12
Hi @Yukti-09
thank you for your interest!

According to the FAQ, in order to get assigned to an article, please provide a detailed outline of what you have in mind.
The more it is detailed, the more we will understand how you intend to write it and the more it will increase your chance to be assigned to this article

Thank you and Merry Christmas!

[2021-12-22 16:45] ashutosh1919 opened #36 "[Article Proposal] Fetching GitHub repository Traffic data using API v3"
### My resource

**Topic:** Fetching Traffic data of GitHub repository (clones and views) using GitHub API v3 is something that is very demanding but there are no blogs/articles available to do that. The article that I want to write will do that using `javascript`.

**Outline:**
- Introduction to API v3
- Installation and project setup
- Writing `async` functions to fetch the data
- fetching the d

[2021-12-22 16:58] souravsingh commented on #7
Hello @theodu I am interested in working on this topic.

[2021-12-23 08:49] EdemGold opened #37 "[Article Proposal] How to build an AI powered Text Summarizer web app using gradio"
### My resource

**Topic:** Building AI applications that can actually be used in the real world is something that not a lot of tutorials cover. In this article, I will build a Text Summarizer web application using the open-source gradio library which provides GUI components for Machine Learning models, and deploy the web application on hugging face spaces.

**Outline:**
- Explain how AI Text Summ

[2021-12-23 08:53] EdemGold commented on #13
The performance of Machine Learning models depends entirely(among other things) on how well the data it is being trained with is labeled.

OUTLINE FOR PROPOSED ARTICLE
- Explain what data labeling is
- Explain how data labeling works.
- Explain why data labeling is important

[2021-12-23 09:02] canozcifci commented on #10
1. Introduction --> What is labeling in AI? - Why do we need it?
2. Strategies and practices for optimizing the labeling
3. Building a Better Label Process
4. Practical examples and differences
5. Outro and acknowledgments

[2021-12-23 10:55] sroder opened #38 "[Article Proposal] Google PubSub meets Python Dash for Live Dashboards"
### My resource
The article outline the usecase of using GCP PubSub an asychronous messaging pattern to communicate between systems. Then plotting the data Live using Dash Plotly
**Topic:** Google PubSub meets Python Dash for Live Dashboards

**Outline:** Data Flow and Day to Day Monitoring for a data analysts and stakeholders

### My content is

- [ ] An Article

Thanks for reading this proposal

[2021-12-23 11:50] joybh98 commented on #13
Hi @theodu , I'm interested in this article ! Here is my approach (i'm flexible about the approach)

Data labelling is a very important part of the preprocessing stage when developing machine learning models

Outline:

1. How data labelling works(human interaction, accuracy)
2. Approaches
3. Difference in performance of ML models with labelled and unlabelled data(only applicable where unlabeled ca

[2021-12-23 12:58] dronefreak opened #39 "[Article Proposal] Quantization-aware Training vs. Post-training Quantization for Deep Neural Nets"
### My resource

**Topic:**

This article will give an outline about two techniques used for qunatization in deep learning, namely, post-training and quantization-aware training, discussing the advantages and drawbacks of both approaches.

**Outline:**

* Quantization, an introduction
* Quantization Schemes
* Quantization-aware training
* Post-training quantization
* Benefits and drawbacks

### My

[2021-12-23 16:41] theodu commented on #7
Hi @souravsingh,
Happy to hear that you are interested!
Please provide a detailed outline of what you would like to write

[2021-12-23 16:43] theodu commented on #8
Hi @FnSK4R17s,
This outline seems wonderful!
You can begin to work on it

[2021-12-23 16:44] theodu commented on #9
Hi @rajarshi1 ,
Happy to hear that you are interested!
Please provide a detailed outline of what you would like to write

[2021-12-23 16:48] theodu commented on #11
hi @choutkamartin,
I agree with you, thank for the comment, I change that.
If you are interested to write this article, please provide a detailed outline of what you have in mind.

Merry Christams !

[2021-12-23 16:53] theodu commented on #5
Hi @alperiox
This sounds like a very good idea!
the aim of this article would be to show how to easily connect Kili with Hugging Faces. I think it would be nice to get something quite general so people can adapt this tutorial to their use case. That being said, autoNLP is a good example to go through in your tutorial!
Could you please provide a detailed outline of what you might write?

[2021-12-23 17:01] theodu commented on #13
Hi @EdemGold and @joybh98
Thank you for your outlines! Could you please provide a more detailed one? It is hard to visualize what you have in mind.

Also, I think that showing that improving the data can improve the model performance through a concrete example could be very important. We tend to say it a lot but illustrating it through an example with one same model and two slightly different data

[2021-12-23 17:03] theodu commented on #10
Hi @canozcifci,
Thank you for your interest!
The outline works for me but can you detail it a bit more with tips that you might address in this article?
Thank you in advance!

Merry Christmas

[2021-12-23 17:10] theodu commented on #4
Hi @bm777,
Thank you for your outline, it seems great!
I will just need to wait until New year to validate it and assign you to it.
Also as a remark, the idea is to create a community able to share knowledge on how to use easily the Kili platform, your point 3. should exclusively speak about annotating the dataset on Kili and using the tools that we have on the platform ;)

Merry Christmas!

[2021-12-23 17:14] theodu commented on #6
Hi @alperiox,
This outline seems great!
You also had very good ideas about the Kili X Hugging Faces tutorial. I wait until New Year Eve to see with the team which article has to be prioritized between both and I come back to you.

Merry Christmas!

[2021-12-23 17:20] DamianArado commented on #17
The final product of a data analysis project is often a report. Many scientific publications can be thought of as a final report of data analysis.

The same is true for a news article based on data, an analysis report for a company, or lecture notes for a class on how to analyze data. The reports are often on paper or they can be PDFs that include textual descriptions of the findings along with so

[2021-12-23 17:59] FnSK4R17s commented on #8
Rodger that !

[2021-12-23 19:03] DamianArado commented on #12
Data analysis allows us to learn new things about the world and about ourselves. It can also be flawed, debunked, biased, and misused. Big Data emerged as a field referring to organizing, structuring, and analyzing complex and large data sets to manage, use and make sense of the overwhelming amount of digital data that we create.

Data Science emerged as a field that encompasses the entire lifecyc

[2021-12-23 19:27] dhruvsheth-ai commented on #7
Hi, I'm interested to take this up!

### Outline
- High level introduction to OCR and potential applications
- Importance of quick and accurate OCR tools, and how Kili helps
- Brief overview on Kili's OCR segmentation and classification process
-  Going through the Dashboard and importing data samples
- Understanding demonstration of OCR pre-annotation through step-by-step process
- Efficiently pr

[2021-12-23 20:45] DamianArado commented on #10
Outline:

This article will demonstrate the collection, labeling, and validation of data in order to make it ready to be deployed into production using the TensorFlow Extended (TFX) platform which will be helping us in creating and managing the production pipeline.

Key Objectives:
- ML pipelines in production
- Distinguishing ML modeling and ML in production
- Collecting Data and its importance
-

[2021-12-24 03:36] lbugnon commented on #34
Ok I'll see what can be done with Kili

[2021-12-24 04:28] joybh98 commented on #13
I completely agree @theodu , I've also included this in the points that I will add to the article. I'll be glad to integrate such an example.

1. How data labelling works

- When working with an ML/DL/AI model, most of the times you'll start with a lot of unlabeled data. Data labelling is the process of detecting and tagging data samples/dataset. Data labelling workflow often includes data annotat

[2021-12-24 08:11] canozcifci commented on #10
Hi @theodu

1. Introduction
What is labeling in AI? Why do we need it? Create a project on your labeling platform, complete with data uploads and a labeling ontology. Complete any data pre-selection or pre-processing that is required.

2. Strategies and practices for optimizing the labeling
Make a list of labeling policies. Include detailed instructions on how to annotate your data, as well as exa

[2021-12-24 17:49] kartikmadan11 opened #40 "Analysing Time Series Forecasts for Forex and Stock Market Trends using Recurrent Neural Networks"
### My resource

Time series data is data that is chronologically assembled, indexed or listed. OHLC charts can represent time series for market data with period defined by the analyst. This article would look into Time Series Forecasting and it's credibility in forecasting of time-series data using information and trends gathered from past and present values.

**Topic:** Analysing Time Series For

[2021-12-24 23:33] alperiox commented on #5
At first, I thought implementing a question answering system would be interesting. However, I'd like to keep things simple to make a clear point of how businesses could easily leverage auto ml with Kili Technology. Because most of the time you can just use a pre-trained model from Hugging Face for context-based question answering and you wouldn't even need to fine-tune the model. Thus, I thought a

[2021-12-24 23:36] alperiox commented on #5
At first, I thought implementing a question answering system would be interesting. However, I'd like to keep things simple to make a clear point of how businesses could easily leverage auto ml with Kili Technology. Because most of the time you can just use a pre-trained model from Hugging Face for context-based question answering and you wouldn't even need to fine-tune the model. Thus, I thought a

[2021-12-25 11:07] sayannath opened #41 "[Article Proposal] - Image Classification using Knowledge Distillation"
### My resource

**Topic:**
Image classification using Knowledge Distillation

**Outline:**
* Introduction
* Prepare the dataset.
* Create the student model and teacher model using Functional API using Keras.
* Discuss the `function matching` recipe.
* Train the teacher model.
* Distill the teacher model to student model
* Train student model from scratch for comparison.
* Full Code walkthrough wi

[2021-12-25 11:09] sayannath commented on #41
Hi! @theodu I want to write an article on this topic and also talk about the recipes of Knowledge Distillation.

[2021-12-25 19:37] Renerd-max opened #42 "[Article Proposal] -Creating a Scalable data infrastructure for AI and BI"
### My resource

**Topic: CREATING A SCALABLE DATA INFRASTRUCTURE FOR AI AND BI**

**Outline:** An organization's success or failure is largely dependent on its ability to leverage data, this is because today's business economy is driven by the amount of data available to businesses to make an informed decision.

With Data, businesses can understand competition behavior, customers, and the market,

[2021-12-25 21:22] Renerd-max commented on #9
**Introduction:** Unlike traditional software development where your code quality determines the output of a program, in data analysis and artificial intelligence, the quality of the result depends on how you label the data.

If your data is properly labeled, it results in good quality output, while improperly labeled data results in bad output. While labeling data, there are pitfalls to avoid to

[2021-12-26 02:45] Yukti-09 commented on #11
Hey! Merry Christmas!

I'm interested to take this up!

I have hereby attached an outline of how I wish to write the article.

**Outline:**

1. Faster iterations
2. More accuracy
3. An error could lead to catastrophic failures
4. Identify borderline cases
5. Better decision making

[2021-12-26 04:28] 01pooja10 opened #43 "[Article Proposal] - How to code a Pix2Pix GAN that brings out the artist in you"
### My resource
In this blog, we will review the working of Pix2Pix Generative Adversarial Network and code/train it from scratch using the PyTorch framework. It will be trained on the edges2shoes dataset for generating realistic shoe images using user-drawn sketches.
**Topic:**
How to code a Pix2Pix GAN that brings out the artist in you
**Outline:**
1. Introduction
2. Pix2Pix Generator
3. Pix2Pix

[2021-12-26 12:51] Yukti-09 opened #44 "[Article Proposal] - How can AI be used to prevent violence against women?"
### My resource

The article will focus on how AI can be used to prevent violence against women and to help safeguard them

**Topic:**

Ideas as to how AI be used to safeguard women

**Outline:**

1. Introduction
2. Flag areas where crimes against women are prevalent.
3. Using chatbots to assist women in times of domestic abuse.
4. Recognize women trafficking
5. Conclusion

### My content is

 :wh

[2021-12-26 19:39] Renerd-max opened #45 "[Article Proposal] - How AI Creates Speech to Text Recognition"
### My resource

**Topic: How AI Creates Speech to Text Recognition**

**Outline:**
**Introduction:** An overview of Speech to Text recognition and how Kili technology is helping industries with its speech-to-text solution.
**Topics**
-What is Speech to text recognition: A definition of speech-to-text recognition.
- How AI Creates Speech to text recognition: An analysis of how Kili creates Speech

[2021-12-27 04:48] Yukti-09 opened #46 "[Article Proposal] Impact of Machine Learning on our lives (past, present and future)"
### My resource
The article will focus on the evolution in our lives with the help of machine learning and deep insight as to what the future will be.

**Topic:**

Impact of Machine Learning on our lives

**Outline:**

1. Introduction
2. Our lives without machine learning
3. The present life with machine learning
4. What more can machine learning do?
5. Conclusion

### My content is

 :white_check

[2021-12-27 06:06] Renerd-max opened #47 "[Article Proposal] Making Smart Business Decision: The Importance of Big Data"
### My resource

**Topic:** Making Smart Business Decision: The Importance of Big Data.

**Outline:**
-An introduction outlining the importance of data and the use of big data technology, such as kili in making smart business decision.
-A definition of big data
-How big data can benefit the growth of any business
-How to apply big data to the growth of a business (using Kili technology)
-The futur

[2021-12-27 08:38] theodu commented on #36
Hi @ashutosh1919
Thank you for your interest!
I think that it is very useful content but it doesn't fit in Kili's scope. We won't select this article.

Happy New Year

[2021-12-27 08:38] #36 closed

[2021-12-27 08:40] theodu commented on #43
Hi @01pooja10
Thank you for your article proposal
I think that it is very useful content but it doesn't fit in Kili's scope. It is too model-oriented. We won't select this article.

Happy New Year

[2021-12-27 08:40] #43 closed

[2021-12-27 10:08] ayyucedemirbas commented on #27
### My resource

**Topic:**

Importing in Kili image classification pre-annotations using a vision transformer

**Outline:**

In this tutorial, you will learn regression and classification, basics of image classification, data preparation, image classification with vision transformer using TensorFlow, and importing these classification results as Kili image classification pre-annotations. You will

[2021-12-27 11:20] theodu commented on #37
Hi @EdemGold
thank you for your tutorial proposal!
I find it very interesting. I like the fact that you use Hugging Face and Gradio. The idea would be to take an already trained summarize or to train it ? Where would Kili comes into this tutorial ?

[2021-12-27 11:42] theodu commented on #5
hi @alperiox
Thank you for this very detailed answer. That is a very good point to keep the business approach here to drive the example.
Indeed AutoNLP isn't free, and it would cause reproduction issues for readers interested in your work. I thank that fine-tuning a model with Hugging faces libraries and mentioning autoNLP as a useful tool would be very exhaustive and nice to have.
That is a very

[2021-12-27 12:00] theodu commented on #9
Hi @Renerd-max
Nice outline! the occlusion Error is very specific to image annotation. If you can also include some text issues that would be wonderful!
Also, I think that something that is very important to mention is the fact that misunderstandings or mistakes in an annotation can lead to the need to re annotate all data. If something went wrong and is seen too late, it could cost many many hour

[2021-12-27 12:18] theodu commented on #10
Thank you for your outlines! The aim of this article would be more to emphasize the labeling operations, data preparation, data augmentation, etc would be tackled in another article @DamianArado.

@canozcifci I like your outline. It shows what is important while annotating and how annotation platforms provide an all-in-one solution to handle operations. We could see how the title could be adapted

[2021-12-27 13:15] DamianArado opened #48 "[Article Proposal] Collecting, Labelling and Validating Data efficiently for production environment"
### My resource

**Topic:** This article will demonstrate the collection, labeling, and validation of data in order to make it ready to be deployed into production using the TensorFlow Extended (TFX) platform which will be helping us in creating and managing the production pipeline.

**Outline:**
- ML pipelines in production
- Distinguishing ML modeling and ML in production
- Collecting Data and i

[2021-12-27 13:32] theodu commented on #20
Hi @HiramCillo
This article has not been selected for further writing. It doesn't target data annotation and dataset management enough. don't hesitate to propose other articles!
Happy New year

[2021-12-27 13:32] #20 closed

[2021-12-27 13:43] theodu commented on #38
Hi @sroder
Thank you for your article proposal. Very interesting and I thank it could have its place on the blog.
A concept that is important in monitoring the data is concept drifting. Could your metrics in your dashboard measure a change in the data?
Also in order to have a better overview of what you have in mind, can you provide a more detailed outline?

[2021-12-27 14:27] theodu commented on #39
hi @dronefreak
Thank you for this article proposal. This does not fit with Kili's Scope. This article is very model training oriented.
Don't hesitate to propose articles more on annotation, data-centric AI or dataset creation.

Happy New year to you

[2021-12-27 14:27] #39 closed

[2021-12-27 14:30] theodu commented on #40
Hi @kartikmadan11
Times series is the new data type that we handle at Kili. it would be nice to have an article on it. However, this article is very model-oriented and at Kili, we focus more on the dataset. Do you have any content that would give good tips about managing the data of a time series model ?

[2021-12-27 14:37] theodu commented on #41
hi @sayannath
That is nice, I didn't know this concept before. I will discuss it with an expert in our team to see if it could be relevant to the blog. I will have to wait 1 week until his return from Christmas Holiday. I keep you in touch.

In the meantime, when training a student network, how do you choose the dataset? If we need specific tips on how to create a dataset for knowledge distillatio

[2021-12-27 14:43] sayannath commented on #41
Thinking to use a TensorFlow Dataset like Flower. My sole purpose is to make a tutorial.
Cheers!!

[2021-12-27 14:43] theodu commented on #42
hi @Renerd-max
That is a wonderful outline! I will need validation from the team within the week to launch the writing. I keep you in touch!
Happy New year!

[2021-12-27 14:47] theodu commented on #17
Hi @DamianArado
I now see clearer, thank you!
This is interesting but we cannot prioritize this. It is a bit outside our scope and as we are still at the beginning of the blogger program so we cant prioritize such topics.
Thank you and don't hesitate to propose other tutorials or articles!

[2021-12-27 14:47] #17 closed

[2021-12-27 14:51] theodu commented on #44
HI @Yukti-09
Can be a nice article, very transverse and on a societal topic. How can you emphasize data for such a topic?

Happy New year

[2021-12-27 14:53] theodu commented on #46
Hi @Yukti-09
Thank you for the proposal. however, this topic is a bit too broad and has already been addressed a lot on other blogs.
We won't select this article.

[2021-12-27 14:53] #46 closed

[2021-12-27 14:55] theodu commented on #45
Hi @Renerd-max
Once again I really like this, you provide very good content ideas!
I wait for the return of the marketing team to see if we prioritize content on STT.

Have a Happy New Year

[2021-12-27 14:57] theodu commented on #47
Hi @Renerd-max
Very broad subject, already addressed a lot in other blogs but always interesting.
I come back to you to give you an answer asap.

[2021-12-27 15:05] theodu commented on #48
hi @DamianArado
The title of the issue "Tips for optimizing your labeling operation" #10 was a bit too general indeed. I think that it is a good thing to separate it into two articles :
- one more about what needs to be done to have good data (your proposal here)
- one about the annotation platform that provides an all-in-one solution for making these things ( #10 )

Then your proposal would be ve

[2021-12-27 15:10] Yukti-09 commented on #44
Hey, thanks!

I will focus more on data ethics and the issues associated with each of the points.

Happy New Year!

[2021-12-27 15:10] Yukti-09 commented on #46
Hey!

Got it! Thanks for the feedback, will try improving!

[2021-12-27 17:19] Renerd-max commented on #42
Alright, @theodu I await your responses

[2021-12-27 17:34] sroder commented on #38
Thanks Theodu,
for your comment. Answering your questions here,

Could your metrics in your dashboard measure a change in the data?
- Yes, the change in Data will be plotted in the live Graph.

Detailed Outline-
1) Message Pattern -  a subscriber consumes the incoming messages. The messages are being sent from GCP PUbSUb middelware, which hosts the Publisher message for a certain time. Our subsrib

[2021-12-27 19:39] DamianArado commented on #48
@theodu Thanks a lot for taking time out to look into it. I have changed the outline for this blog now.

This article will demonstrate the collection, labeling, and validation of data in order to make it ready to be deployed into production using the open-source TensorFlow Extended (TFX) platform which will be helping us in creating and managing the production pipeline. I have planned to go with t

[2021-12-27 19:40] DamianArado opened #49 "[Article Proposal] Data Augmentation, Advanced Labelling and Preprocessing for production environment"
### My resource

**Topic:** This article will demonstrate how we can increase the diversity of our training set using data augmentation,  advanced labeling techniques like direct, semi-supervised, weak supervision and active learning methods and perform advanced data preparation and transformation on different structured and unstructured data types.

**Outline:**
- Generating synthetic data
- Augm

[2021-12-27 20:05] DamianArado opened #50 "[Article Proposal] Journey and Storage of Data in production ML environment"
### My resource

**Topic:** This article demonstrates the lifecycle of data in machine learning specific production environments. We will also see how we can use machine learning metadata, how to iteratively create enterprise data schema and then integrating it efficiently into feature stores, data warehouses and data lakes.

**Outline:**
- Describe the journey of data through data lineage and pro

[2021-12-28 06:39] Yukti-09 opened #51 "[Article Proposal] Data Augmentation"
### My resource
The article will focus on data augmentation.

**Topic:**

Data Augmentation

**Outline:**

1. Introduction
2. Datasets without augmentation
3. Methods of augmentation for images and text
4. Negative effects of augmentation
5. Conclusion

### My content is

 :white_check_mark: An Article

[2021-12-29 00:57] choutkamartin commented on #11
Hey,

I wish you all the best in the new year. I wrote a little detailed outline. Hopefully, it will make sense, as I'm writing this very late. I will, of course, improve the content if I will get the article.

Thank you, have a great day!

**To my detailed outline:**

1. Why data labelling?
2. Labelling takes away too much time
3. Time is money, so is efficiency
4. Why is accuracy crucial
5. Why

[2021-12-29 07:05] Renerd-max commented on #9
Hi @theodu I am done with this and it is now available for review, here is the link to the google doc:
https://docs.google.com/document/d/16HxktnoYUF92NDrCxQHnyiFAsjsD1z6Cy4IrEVqJ6NQ/edit?usp=drivesdk

And here is the link to the Google slide image:
https://docs.google.com/presentation/d/11Xx94fPSH7KpH8MFegIA7RHMnGLoOh4-l7I4e_rQCWU/edit?usp=drivesdk

There was an instruction stating we are to down

[2021-12-29 14:00] Renerd-max opened #52 "[Article Proposal] How to label Text for Sentiment Analysis with Kili Technology"
### My resource

**Topic: How to label Text for Sentiment Analysis with Kili Technology**

**Outline:**

-**Introduction:** The introduction will give an overview of sentiment analysis and how difficult it can be
- **Heading 1: What is Sentiment analysis**: a brief introduction to sentiment analysis, its uses, and how it can be analyzed using kili technology.
- **Heading 2: How to label texts for

[2021-12-29 18:44] theodu commented on #9
Hi @Renerd-max
Great! I answered your questions by mail.
We will review this article ASAP.

[2021-12-29 19:27] Renerd-max commented on #9
Hi, @theodu the link has been updated.

https://docs.google.com/document/d/14jqdpTRKTchMq4IbvHx32YeheZ_e-VzVGlFBmEM85yU/edit?usp=drivesdk

[2021-12-30 17:14] FnSK4R17s commented on #8
Hi @theodu
Here is my first draft of the article.
https://docs.google.com/document/d/1nNluHrBsTWI7j9YudchiaWd8GU9Ch0Ue6OyW4Dp4A14/edit?usp=drivesdk

[2021-12-30 17:15] FnSK4R17s commented on #8
Hi @theodu
Here is my first draft of the article.

https://docs.google.com/document/d/1nNluHrBsTWI7j9YudchiaWd8GU9Ch0Ue6OyW4Dp4A14/edit?usp=drivesdk

[2021-12-30 19:26] FnSK4R17s commented on #3
## Summary
The performance of any ML model degrades over time. We always need to label and train our model on new data, especially when we are creating a model that is personalized. Recommender systems and predictive text keyboards are a few examples of models that can benefit from a feedback loop. Feedback loos are easy to implement but they can be frustratingly tough to maintain as feedback loop

[2021-12-31 06:46] TanyaChutani opened #53 "Image classification using transformers"
### The concerning content
Topic:
    Image classification using transformers

Outline:
    Introduction about the topic
    Prepare the dataset using our tool
    Create the model using Functional API using Tensorflow2.x.
    Train model with different augmentations.
    Compute f1 score on test datatset
    A complete code walkthrough would be available

[2021-12-31 08:05] theodu commented on #8
Thank you @FnSK4R17s!
It will be reviewed asap!

[2022-01-02 11:08] kartikmadan11 commented on #40
Hi @theodu. Although the article is model oriented, pre-processing a time series dataset is very important and I've worked on that before.

[2022-01-02 20:29] sayannath opened #54 "[Article Proposal] How to make Object Detection using TFOD API"
### My resource

**Topic:**
Make an Object Detector Using TensorFlow Object Detection API
**Outline:**

### My content is
* Collect data
* Anotate the data
* Create `TF Record`
* Setup TFOD API
* Train the detector
* Export the detector
* Test the detector

- [x] An Article

[2022-01-02 20:30] sayannath opened #55 "[Article Proposal] Mixed Precision Training"
### My resource

**Topic:**
How to train your model using mixed precision
**Outline:**
* Data Collection
* Data preprocessing
* Mixed Precision - Theory
* Train model
* Predict the model

### My content is

- [x] An Article

[2022-01-02 20:32] sayannath opened #56 "[Article Proposal] Scaled YOLOV4 in PyTorch"
### My resource

**Topic:**
Make a Scaled YOLOV4 using PyTorch

**Outline:**
* Collect data
* Annotate the data
* Setup Scaled YOLOV4
* Train the detector
* Export the detector
* Run Test on the detector

### My content is

- [x] An Article

[2022-01-02 20:34] sayannath opened #57 "[Article Proposal] How to make an object detector for your browser"
### My resource

**Topic:**
Make an object detector model to run in your browser using TensorFlow JS

**Outline:**
* Collect the data
* Annotate the data
* Setup TFOD API
* Train the detector
* Export the detector
* Convert the exported model into TFJS format
* Setup React App Web App to do inference

### My content is

- [x] An Article

[2022-01-02 20:40] sayannath opened #58 "[Article Proposal] How to make image classifier Using TensorFlow Hub"
### My resource

**Topic:**
How to make image classifier Using TensorFlow Hub

**Outline:**
* Data Collection
* Data loader
* Make the model via TensorFlow Hub
* Train the model
* Predict on the model
* Calculation confusion matrix as well as classification report.

### My content is

- [x] An Article

[2022-01-03 02:16] joybh98 commented on #13
hi @theodu , I know you're a busy person,but I would appreciate a reply whenever you're free :)

[2022-01-03 05:14] Yukti-09 opened #59 "[Article Proposal] Fundamental principles of data management"
### My resource
The article will focus on the principles of data management.

**Topic:**

Fundamental principles of data management

**Outline:**

1. Introduction
2. Principle 1: Data Management Strategy
3. Principle 2: Data Standards
4. Principle 3: Data Integration
5. Principle 4: Data Quality
6. Conclusion

### My content is

 :white_check_mark: An Article

[2022-01-03 10:07] theodu commented on #53
Hi @TanyaChutani
Thank you for your article proposal. Such an article has already been proposed and is under investigation.
For next article proposals, please keep the automatic template

Best wishes

[2022-01-03 10:07] #53 closed

[2022-01-03 10:08] theodu commented on #54
Hi @sayannath
I propose this article and come back to you asap

Best wishes

[2022-01-03 10:10] theodu commented on #55
Hi @sayannath
This subject is very model-side and does not involve data management enough for the Kili Blog. We won't take this article

best wishes

[2022-01-03 10:10] #55 closed

[2022-01-03 10:11] theodu commented on #56
Hi @sayannath
There is already an issue on the subject : #6
Best wishes

[2022-01-03 10:11] #56 closed

[2022-01-03 10:13] theodu commented on #57
Very close to #54 ,
I will only keep the other issue

[2022-01-03 10:13] #57 closed

[2022-01-03 10:14] theodu commented on #59
Hi @Yukti-09
There are already many article proposals on this subject at the time.
Best wishes

[2022-01-03 10:14] #59 closed

[2022-01-03 10:29] theodu commented on #40
Hi @kartikmadan11
That sounds great. I admit that I never manipulated a dataset of time series and I think that it could be a very interesting topic! I propose the article and come back to you asap

[2022-01-03 11:19] Yukti-09 commented on #59
Got it, thank you!

[2022-01-04 04:53] fernandojvdasilva opened #60 "[Article Proposal] How to measure the quality of a dataset labeled by multiple people"
### My resource

There are certain problems in which the label assigned to the data is somehow "arbitrary", which means that the label depends on the opinion or perspective of the annotator. As an example, suppose a text dataset that we want to label as positive or negative sentiment. Notice that the sentiment may not be clear for all the samples.

In cases like this, we may use multiple participa

[2022-01-04 05:10] fernandojvdasilva opened #61 "[Article Proposal] Creating a dataset of tweets"
### My resource

Twitter is a great resource to retrieve a vast amount of text to be used in datasets for many applications, such as sentiment analysis. In this article, we present the main APIs with some examples with code in Python, as well as restrictions and access policies.

**Topic:**

- Search API (and example)
- Streaming API (and example)
- Account Activity API
- Standard API restrictions

[2022-01-04 09:28] theodu commented on #34
Hi @lbugnon
Sorry for the late reply, the end of the year period froze a bit operations.
This is a very interesting subject but it has already been addressed a lot on the internet and on other blogs. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:28] #34 closed

[2022-01-04 09:32] theodu commented on #37
Hi @EdemGold
Your article could still interest us. Would Kili intervene in it?
Best

[2022-01-04 09:36] theodu commented on #38
Hi @sroder
Sorry for the late reply, the end of the year period froze a bit operations.
This article's subject seems very nice! I am glad to hear that you can add metrics to detect concept drift.
That would make a good article.
I assign you to it, you can begin to work on it!

[2022-01-04 09:39] theodu commented on #40
Hi @kartikmadan11
Sorry for the late reply, the end of the year period froze a bit operations.
We decided not to prioritize content on Time Series. This is a data type that we handle but we still need to work on it before. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:39] #40 closed

[2022-01-04 09:40] theodu commented on #41
Hi @sayannath
Sorry for the late reply, the end of the year period froze a bit operations.
I liked the topic but it is a bit out of scope for the Kili Blog. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:40] #41 closed

[2022-01-04 09:42] theodu commented on #42
Hi @Renerd-max
Sorry for the late reply, the end of the year period froze a bit operations.
We decided not to prioritize this content. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:42] #42 closed

[2022-01-04 09:43] theodu commented on #44
Hi @Yukti-09
Sorry for the late reply, the end of the year period froze a bit operations.
This article is too transverse to bring real value to Kili. I liked the subject though. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:43] #44 closed

[2022-01-04 09:45] theodu commented on #45
Hi @Renerd-max
The speech-to-text tool in Kili is not very used at the time and we still need to work on it. So it is too early for us to post such content. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:49] theodu commented on #47
Hi @Renerd-max
Sorry for the late reply, the end of the year period froze a bit operations.
Big Data is not our core. Our reason why at Kili is the data-centric approach. Thus we won't choose this article.
Don't hesitate to make other article proposals!

[2022-01-04 09:49] #47 closed

[2022-01-04 09:53] theodu commented on #48
Hi @DamianArado
Sorry for the late reply, the end of the year period froze a bit operations.
Good news, you like your series of three articles #48 #49 #50 !
I validate it and assign you to the three of them and I put this one in progress, you can begin to work on it!
Best

[2022-01-04 09:55] theodu commented on #49
@DamianArado
Also validated! I label it as on hold, waiting for article #48
Best

[2022-01-04 10:00] theodu commented on #50
@DamianArado
I liked this topic and it could be very interesting. It would be nice to show where Kili is in this whole journey of data. to show the coordination between the data storage and Kili etc.
I put this article on hold, waiting for you to finish the other ones and to begin this one.

[2022-01-04 10:03] EdemGold commented on #37
Hey @theodu, Yes the idea would be to take an already trained summarization model and then write a python script that segments large blocks of texts into little parts so the model can efficiently summarize large blocks of texts like books and a large number of articles and then build GUI components around the Machine Learning model using Gradio.

Is there any way Kili can intervene in this? 56

[2022-01-04 10:07] theodu commented on #54
Hi @sayannath
We liked this article. You tagged it as an article but I think that it could have a great impact if it is more hands-on and shown as a tutorial. Also, the last part of the tutorial should be running your model on a dataset and importing those predictions as pre-annotation in Kili. Like this, it will show the way to people wanting to pre-annotate their dataset on Kili with object dete

[2022-01-04 10:10] theodu commented on #51
Hi @Yukti-09
This subject has already been proposed by some bloggers.
Best

[2022-01-04 10:10] #51 closed

[2022-01-04 10:11] theodu commented on #58
Hi @sayannath
This topic is closed to #54. We validated #54 so we won't select this one.
best

[2022-01-04 10:11] #58 closed

[2022-01-04 10:13] theodu commented on #52
Hi @Renerd-max
I liked this, it would make good content. However, I rather see it as a tutorial, more hands-on and showing step by step. Do you think that you could do it?
best

[2022-01-04 10:21] Renerd-max commented on #52
@theodu I surely can make it a hands-on tutorial, I shall describe each step as a guide, I should modify the label and title

[2022-01-04 10:52] Renerd-max opened #62 "[Article Proposal] What is TinyML and how does it affects Machine Learning best Practices"
### My resource

**Topic: What is TinyML and how does it affect Machine Learning best Practices**

**Outline:**
**Introduction:** A definition of TinyML and it's applications
**Sub-Part 1: The Potential of TinyML in machine learning**
**Sub-Part 2: How TinyML makes Machine Learning more accessible**
**Sub-Part 3: Importance of using TinyML for Machine Learning**
**Sub-Part 4: Tools for building mo

[2022-01-04 11:10] theodu commented on #4
Hi @bm777
I am now able to validate this article!
However, for part 3 of your outline, on tools to label, you will have to exclusively use the Kili Platform. Our segmentation tool is very mature. You can see all infos here : https://cloud.kili-technology.com/docs/interfaces-image/segmentation/
I assign you to it, you can begin to work on it

[2022-01-04 11:18] theodu commented on #6
Hi @alperiox
I assign you to this article and put it on hold, waiting for you to finish your article on HuggingFace #5

[2022-01-04 11:36] theodu commented on #7
Hi @souravsingh
Sorry for the late reply, the end of the year period froze operations.
This outline sounds good!

A little comment on bullet points 5 and 6 to give context:
Currently, we don't have an OCR tool boosted with AI in Kili Technology and are working on it.
Currently, on the platform, someone can draw a bounding box around a word or sentence and label it by typing what is written inside

[2022-01-04 11:45] theodu commented on #12
Hi @DamianArado
This does not correspond exactly to what I had in mind. Sorry, not to have precise it on the description.
the idea would be to have an article that deals with the same ideas as the ones addressed by Edouard d'Archimbaud in his talk at Wold Summit AI, 2021. I update the description and add a link to this talk.

[2022-01-04 11:58] Renerd-max opened #63 "[Article Proposal] How to Use Data to Build Products that make Impacts"
### My resource

**Topic: How to Use Data to Build Products that make Impacts**

**Outline: **By the end of this guide, readers should be able to:
-Know the importance of data in making product decisions
-Identify the best approach to making product decisions, using data.
-Learn how to outsource relevant data that are crucial to the success of a product.
-Understand how they can plan their next pr

[2022-01-04 12:45] sayannath commented on #54
Yes, I will do make this a tutorial. I am up for it.

[2022-01-04 12:48] theodu commented on #54
Great, then I assign you to the article, you can begin to work on it!

[2022-01-04 12:48] theodu commented on #54
@sayannath Great, then I assign you to the article, you can begin to work on it!

[2022-01-04 12:50] sayannath commented on #54
Cool.

[2022-01-04 12:51] theodu commented on #52
@Renerd-max Good, I assign you to the article, you can begin to work on it!

[2022-01-04 12:55] theodu commented on #13
Hi @joybh98
Sorry for the late reply. It was more the fact that it was the end-of-year period that freezes operations than the fact that I am busy ;)
I really like this outline, I think that you will do a great job. I assign you to the article, you can begin to work on it!

[2022-01-04 13:35] theodu commented on #14
Hi @mzmmoazam
We have decided not to tackle data augmentation in a specific article at the time. It will be addressed as a part of #49.
Thus we won't select this article.
Don't hesitate to make other article proposals!

[2022-01-04 13:35] #14 closed

[2022-01-04 14:07] theodu opened #64 "[Request New Content] AutoML for faster labeling with Kili Technology"
### My Request

AutoML if well used can skyrocket annotation speed! The idea of the workflow is to:
- import an unlabeled dataset on Kili to annotate it
- annotate a few data
- the autoML pipeline triggers and fine-tune a model to annotate other data
- this model does predictions on the unlabeled data and import it on the platform
- this speed-up the annotation process as the data is already pre-a

[2022-01-04 14:11] theodu commented on #27
@ayyucedemirbas
Sorry for the late reply, the end-of-year period froze operations.
We didn't select this article as it is. But it inspired us to make another article proposal on how to speed up annotation with autoML by constantly improving a pre-annotation model during the annotation. This article is described in #64
You can have a look if you are interested!

[2022-01-04 14:11] #27 closed

[2022-01-04 14:27] theodu commented on #11
Hi @choutkamartin
Thank you for this very detailed outline. And sorry for the late reply, the end-of-the-year period froze operations.
The ideas of this article are already in other articles already in writing. We gave a list of first article proposals at the beginning but this one is very close to others. In order not to duplicate content, I will have to put this one on hold.
Sorry for doing so b

[2022-01-04 14:29] theodu commented on #61
Hi @fernandojvdasilva
I think that this is a great topic and that it could help several people!
Can you provide us with a more detailed outline please ?

[2022-01-04 14:48] theodu commented on #60
Hi @fernandojvdasilva
I didn't know the Fleiss' Kappa before, thank for this new knowledge ;)
However, we already have consensus metrics on the platform that are updated constantly while annotations are done.
I think that it is a very interesting subject but I don't see how this specific topic and outline could bring impactful content to people using Kili.

An article that would be great would exp

[2022-01-04 14:53] theodu commented on #63
Hi @Renerd-max
Thank you for this outline.
This is very related to business and big data. We rather focus on data-centric approach to improve model performance. It is a bit out of scope.

[2022-01-04 14:53] #63 closed

[2022-01-04 14:55] theodu commented on #62
hi @Renerd-max
This topic isn't really related to data management or anything like this. It an interesting topic but is a bit out of scope for Kili

[2022-01-04 14:55] #62 closed

[2022-01-04 15:35] DamianArado commented on #48
Sorry for the late reply, the end of the year period froze a bit operations.
Good news, you like your series of three articles #48 #49 #50 !
I validate it and assign you to the three of them and I put this one in progress, you can begin to work on it!
Best

Sure! 😊

[2022-01-04 18:28] FnSK4R17s commented on #64
## Summary
Annotating Datasets can be a really time-consuming process. However, It doesn't need to be like that. We can leverage the power of Machine Learning to speed up our annotation process. In this article, we will go over two examples where we will use AutoML techniques in conjunction with Kili Technology to speed up our annotation process. First, we will go over a text classification use ca

[2022-01-04 19:34] FnSK4R17s commented on #3
Hi @theodu,
I agree that there is really small scope for human annotation in an automated feedback loop. However, I have written a tutorial outline just in case. I'd like to suggest that we look into something which is similar to data flywheel as there is a really large scope of using Kili Technology in that use case. I'll create an article proposal for that soon. Let me know if that is something

[2022-01-04 20:01] FnSK4R17s opened #65 "[Article Proposal] Building a Data Flywheel for ML in Production"
### My resource

**Topic: Building a Data Flywheel**

## Summary
Data Flywheel is an interesting concept. It enables us to improve our machine learning model while it is in Deployment. The concept is simple yet effective. First, we train a model and deploy it in production. Then the model brings in a few users who generate data. This data is used to train a new model which in turn brings in new cu

[2022-01-04 20:35] FnSK4R17s opened #66 "[Article Proposal] Creating Slices from our Datasets"
### My resource

**Topic: Slicing a Dataset**

## Summary
Large datasets are difficult to analyse. Although we can check whether a dataset has an equal number of examples for all classes but in the dataset might be unbalanced in other ways. For example, let's assume that we have a dataset of people who have suffered a heart attack, we might notice that even if we have an equal number of examples w

[2022-01-05 02:11] joybh98 commented on #13
@theodu I'm happy to discuss what all do you want from the article?

I agree, I wanted to give a broad overview about data annotation and what all it encompasses but I understand how it can be redundant.

Should we continue the discussion here or somewhere else ?

[2022-01-05 04:31] bm777 commented on #4
I got the point :)
How about the delay of the task?

[2022-01-05 19:11] theodu commented on #8
hi @FnSK4R17s
I went through your article. I find it wonderful. Very well written and it tackles exactly the topic.
I am still waiting for a second Kili member review and it will be ready for publishing.

[2022-01-05 19:17] theodu commented on #64
hi @FnSK4R17s
Nice outline! Mentioning a part on few-shot learning is interesting, mainly because the first training is done on few data only. If you can make a paragraph on it, it is a +

I assign you to the article, you can begin to work on it

[2022-01-05 19:22] Renerd-max commented on #52
Hi, @theodu here is the link to the first draft.

https://docs.google.com/document/d/1R5-TYkAHNDn5Aoclrz9ChUNU9fo16YQJ-zQ_dln863o/edit?usp=drivesdk

[2022-01-05 19:33] theodu commented on #13
@joybh98 the issue indeed lacks a description to know what we had in mind behind this title. From now on, I will always add a description when I propose an article.
I already gave you some ideas in the comments. As I said, the core of the article should be a concrete illustration/proof through an example that two differently labeled datasets (one with some errors, unfitted labels, etc...) can lead

[2022-01-05 19:36] theodu commented on #4
Do you mean the time to write the article? There is no determined expected time. We understand if you have time constraints, that is very fine. We are very flexible. Just keep me in touch about when you expect to write your first draft ;)

[2022-01-06 06:43] Renerd-max commented on #12
Hi, @theodu I think I got the idea, here is my outline:

**Introduction:** Information is empowered by the advent of software engineering, which comprises the web, and native app and software. A boost in information technology can be described as the advent of AI, we can make our software and computer hardware, such as robots performs an intelligent task that is otherwise reserved for human.

AI e

[2022-01-06 07:02] Renerd-max commented on #13
Hi, @theodu, here is my outline.

**Introduction:** An introduction to machine learning, and its challenges, which involves building a better AI model, towards the end of the introduction, I will summarise how this challenge can be effectively handled by focusing on the data used in building the AI model, data remains the most important aspect of machine learning.

**Sub-Topic 1: Better machine le

[2022-01-06 11:11] joybh98 commented on #13
I think the best approach would be to use a problem which can be understood by both beginners and expereinced practitioners, I propose to use a classification model which shows either something is happening or something is not happening. The most common application I can think of spam and not-spam. As the difference can be properly conveyed.

If the dataset is not properly labelled, i.e spam words

[2022-01-06 13:35] FnSK4R17s commented on #64
@theodu thanks !
Started writing this article.

[2022-01-06 13:36] FnSK4R17s commented on #8
Thanks! Good to know.

[2022-01-06 18:29] theodu commented on #52
Thank you @Renerd-max.
I put a lot of comments. The main points are:
- It should be a python tutorial, not an article, you should guide the user, show more pieces of code, what package to use, etc. I am not sure that you did the whole workflow at home, you only show how to do steps independently. Do as if you were a user wanting to label text for sentiment analysis with Kili: take a corpus, upload

[2022-01-06 18:33] theodu commented on #52
I changed the title so it sounds more like a tutorial. Sorry not to have spotted it before.
You should consider spending a bit more time on your content writing. It is often sloppy work.

[2022-01-06 18:36] Renerd-max commented on #52
Thanks @theodu gone through your comments, I shall made necessary adjustments

[2022-01-06 18:59] canozcifci commented on #10
Hi @theodu

Here is my first draft of the article.
https://docs.google.com/document/d/1ovKSU3-O0SSM6IX2TjnutI-OYMHcQ1UxVIIOeIKyj5k/edit?usp=sharing

Looking forward to hearing your feedback. Contact me via cangoksu191@gmail.com

Have a nice day.
Can

[2022-01-06 19:39] Renerd-max commented on #9
Hi, @theodu you can now review this topic since I have made the necessary changes.

https://docs.google.com/document/d/14jqdpTRKTchMq4IbvHx32YeheZ_e-VzVGlFBmEM85yU/edit?usp=drivesdk

[2022-01-07 14:49] Renerd-max commented on #52
Hi, @theodu this has now been resolved, you may go through it again.

[2022-01-07 22:45] fernandojvdasilva commented on #61
Hi @theodu!

Sure! Here are more details. Actually, I divided the previous "Standard API restrictions" section into the other sections and I added a section to talk about implementation issues related to the dataset collection.

- Search API (and an example): If we want to create a dataset of tweets related to certain terms, we can use this API to search for them. In this section, we will describe

[2022-01-07 22:49] fernandojvdasilva commented on #60
Hi @theodu!

Oh, I got it! I didn't know there were methods to calculate the consensus on Kili, that's why I proposed the article about Fleiss' Kappa, but I completely understand that it makes a lot more sense to write about how the consensus is calculate for each ML task as you recommended! I will do some research here to understand a little more about this matter then I will rewrite the article

[2022-01-09 06:52] joybh98 commented on #13
@theodu , no rush. Whenever you're free let me know if the above outline is satisfactory or not.

[2022-01-10 10:53] theodu commented on #12
Hi @Renerd-max
Thank you for your outline. This topic is very close to the one of issue #13. In order to refine it and avoid redundancy, we will not propose these two articles at the same time, I put it On Hold.
thanks!

[2022-01-10 10:54] theodu commented on #10
Hi @canozcifci
thank you! we will have a look asap and I get back to you to give feedback ;-)

[2022-01-10 11:03] theodu commented on #9
Hi @Renerd-max
Thank you! Thank you for having taken the comment, the targeted user is now more in line with our objectives!
The article looks good, I just added one more comment to have cleaner images.

[2022-01-10 11:12] theodu commented on #52
Hi @Renerd-max
Thank you! I will have a look asap ;)

[2022-01-10 11:24] theodu commented on #13
Hi @joybh98
Thank you for this update! This fits what I had in mind. Simple classification is indeed good and the spam example is easy thus illustrative for everyone.
I assign you to the article.
Whenever you can, try to use screenshots of their Kili platform, and if you need, we can provide you with a paid license to use our API ;)

[2022-01-10 12:42] joybh98 commented on #13
Sure will let you know !

[2022-01-10 18:51] theodu commented on #60
Hi @fernandojvdasilva
Good to hear it. I am looking forward to seeing this article proposal!
Thus, I close this issue.

[2022-01-10 18:51] #60 closed

[2022-01-10 20:45] theodu commented on #10
Hi @canozcifci
I went through your article. I noticed some very good parts and some bad parts. then I saw plagiarism and now I understand.
Should I mention that by doing plagiarism you, and us actually, risk very serious legal consequences?
I have to unassign you from this article.
I hope that you will understand that this is unacceptable and that you legally risk a lot by doing so.

[2022-01-10 20:47] theodu commented on #61
Hi @fernandojvdasilva
I really like this idea. It could be of great help for people doing NLP.
We currently have a lot of articles in the pipeline. I put this one on hold and I come back to you when we are ready to launch the writing of this article!

[2022-01-10 20:50] theodu commented on #65
Hi @FnSK4R17s
I really like it! I accept this article but we will need to wait before writing it.
You are currently assigned to an article and we currently have a lot of articles in the pipeline. I put this one on hold and I come back to you when we are ready to launch the writing of this article!

[2022-01-10 20:51] theodu commented on #66
Hi @FnSK4R17s
this is also an article that I really like! I accept this article but we will need to wait before writing it.
You are currently assigned to an article and we currently have a lot of articles in the pipeline. I put this one on hold and I come back to you when we are ready to launch the writing of this article!

[2022-01-10 20:54] theodu commented on #37
hi @EdemGold, then this is not in our scope. it is very model-oriented and lacks input on dataset management.
thank you for the proposal!

[2022-01-10 20:54] #37 closed

[2022-01-10 21:09] theodu commented on #9
hi, @Renerd-max I validate this article!
You can now follow the FAQ to send us your invoice. We keep you in touch of when we will publish this article ;)

[2022-01-10 21:23] Renerd-max opened #67 "[Article Proposal] 7 Methods to Improve the Accuracy of A Machine Learning Model"
### My resource

**Topic: 7 Methods to Improve the Accuracy of a Machine Learning Model**

**Outline:**
**Introduction:** A brief introduction to machine learning and the challenge of getting accurate model
**Heading 1: How to Improve the Accuracy of a Machine Learning model**
**1.1. More Data:** Adding more data to your dataset can help to improve the model accuracy, we can add data to an existin

[2022-01-10 21:26] theodu commented on #52
the content now has more the shape of a tutorial. Thank you for having taken the comment quickly.
However, every piece of code and example is taken from the same Github Repository. Even if you provide the link each time to this GitHub, that is a lot for "original content". Can you please take this back?
And also it is nice that you really advertise Kili a lot in your article but the last part is a

[2022-01-10 21:33] Renerd-max commented on #52
I can write my own pieces of code to demonstrate each step, as I did in some of the codes, but according to the guideline, we should provide a link to a GitHub repository on which the code is hosted, that was why I use that.

If it is not against the practice of this program, j should use my code for every tutorial I create.

Is this ok?

[2022-01-10 21:51] theodu commented on #52
@Renerd-max Yes, you should write your own piece of code and host it on your own GitHub repository.

[2022-01-10 21:58] theodu commented on #52
@Renerd-max You know what, let's say that it wasn't clear enough in the writing guidelines and let the code from the GitHub that you found.
however, you still need to correct the last Kili demo part please

[2022-01-10 22:01] Renerd-max commented on #52
I shall do that, I schedule it for tomorrow

Renerd

On Mon, Jan 10, 2022, 22:58 theodu ***@***.***> wrote:

[2022-01-10 23:03] Renerd-max opened #68 "[Article Proposal] How to Speedup Keyphrase Extraction Using TFIDF and Python"
### My resource

**Topic:How to Speedup Keyphrase Extraction using TFIDF and Python**

**Outline:**
**Introduction:** An introduction to text labelling, and an explanation of the difficulty encountered in bringing machine learning model to production, with an emphasis on the fact that most models never get to production because it is taking much time, and more budget to complete, but we can use TF

[2022-01-11 05:10] FnSK4R17s commented on #8
Hey, @theodu,

Thanks for the update. I need some help with these two things:

1. There seems to be an issue with the link that's provided in the FAQ section, I cannot open the form.
2. The FAQ section says that I need to mention the URL of the uploaded blogpost in the invoice. How do I go about doing that?

[2022-01-11 08:35] theodu commented on #8
Hi @FnSK4R17s
1. I changed the access right, it should work now
2. Indeed, I removed this question

I updated everything, you should now be able to submit it.

[2022-01-11 08:53] FnSK4R17s commented on #8
@theodu Thanks for the prompt reply. I've submitted the invoice. 🚀

[2022-01-11 09:07] theodu commented on #8
Great, I keep you in touch for the payment process

[2022-01-11 09:28] Renerd-max commented on #52
@theodu this topic has been updated and you can now review it.

[2022-01-11 22:13] Renerd-max commented on #9
@theodu according to the faq, the article must be published before I submit an invoice, therefore, I must wait for this article to be published, right?

[2022-01-12 08:32] theodu commented on #9
Yes indeed, lets do it that way ;)

[2022-01-12 10:14] theodu commented on #5
hi @alperiox
How is your article going?

I have good news:
- your article will have a big impact: Hugging Faces also agreed to relay it on their blog!
I put you here an example on an article on their blog where they collaborate with another tool: https://huggingface.co/blog/autonlp-prodigy. It can be an inspiration.
-we will of course pay for the autoML charges in your articles (I don't know if I

[2022-01-12 12:04] alperiox commented on #5
Hey @theodu ! I am currently working on it! I was trying to make a more wide-genre business relatable tutorial. My current objective is building an aspect-based sentiment classifier but building a dataset from scratch wasn't an easy thing indeed. I extracted app reviews of Medium from Google Play Store and I was trying to fine-tune a model from huggingface without using AutoNLP. While using active

[2022-01-12 13:44] theodu commented on #5
Great to hear it. It sounds very good!
I updated your account toward a paid account for 1 year. You can now use it for other purposes ;)

[2022-01-12 14:45] theodu commented on #9
@Renerd-max, the last update is needed for the article before being ready to be published.
in fact, we noticed that it lacks illustration. they are pictures for the image case but none for the text case. can you please add images for the text case please?

[2022-01-12 16:20] theodu commented on #52
HI @Renerd-max,
Edouard did comments on your article. here is more detailed feedback based on them:
- All code taken from the Github page that you put doesn't bring any added value. While finding it bad, I accepted to keep it in order not to take too much time. But Edouard also spots it as adding no value whereas it is the core of your article.
- Your first draft didn't have any python code wherea

[2022-01-12 16:20] #67 closed

[2022-01-12 16:21] #68 closed

[2022-01-12 16:35] theodu commented on #8
@FnSK4R17s In fact we wrote in the FAQ that the invoice should be submitted once the content is published.
I try to have an estimation of when we will publish it so you know when to submit again the form (I added the "URL of article" question back).
Sorry for this setback.
Best

[2022-01-12 17:32] Renerd-max commented on #52
Hi, @theodu like I stated earlier, I was confused by the GitHub source code.

I shall now write my code and I believe it should be more structured by then.
I agree that rushing to complete the work doesn't allow me to make good content, I have also noticed that the imported codes aren't effective, but I follow your instructions.

Don't worry, I know what I am doing and my final submission should a

[2022-01-13 09:38] theodu commented on #52
Hi Renerd,
Happy to hear it. This also makes us learn, we should maybe ask for a more detailed outline before assigning someone. Sorry to have been rough, the thing is that as we give remuneration for the blog, we suppose that you are an expert in what you write. I understand that you are learning by yourself, that is an excellent thing and I support you in this but we are looking for state-of-the

[2022-01-15 23:27] Renerd-max commented on #9
Hi @theodu this article has now been updated with an illustration for the text case

[2022-01-16 17:22] alperiox commented on #5
Hello @theodu ! Would you like me to use AutoNLP like in Abhishek's tutorial? Currently, I'm continuing active learning while fine-tuning a RoBERTa-based model automatically with HuggingFace's trainer API.

[2022-01-17 08:24] theodu commented on #9
hi @Renerd-max I don't see them, is the last link that you put in the comment the updated one ?

[2022-01-17 08:28] Renerd-max commented on #9
@theodu here is the link.

https://docs.google.com/document/d/1zNCFmGJx-4wjwH0pUzMPcqCkzv36QWGpN3IG7FYiW50/edit?usp=drivesdk

I added illustrations to the first point under text, the rest don't necessarily need one since they are theoretical or self-explanatory.

[2022-01-17 08:33] theodu commented on #9
The two graphics are stretched and they don't add a lot of value. I think that you can get rid of them. Rather try to add another image for the other text part.

[2022-01-17 08:40] theodu commented on #5
Hi @alperiox
Your work seems very nice!
As your article is focused on Hugging faces, I think that it can be nice to show both. If it doesn't take too much time to add an autoNLP paragraph, it would also be nice to show it. As it is already automated, it shouldn't take too long and I think that it can be a good illustration.

[2022-01-17 08:41] theodu commented on #5
As it is a tutorial, I thank that something nice to show is how to connect Kili to hugging face, how to easily make the bridge between those two entities.

[2022-01-17 08:47] Renerd-max commented on #9
I did that already

[2022-01-17 10:17] Renerd-max commented on #9
@theodu the article has been updated

[2022-01-17 20:34] theodu commented on #8
Hi @FnSK4R17s
Your article is scheduled to be published tomorrow morning at 9:00 GMT+1!
here is the link to the future article: https://kili-technology.com/blog/guide-to-human-in-the-loop-machine-learning/
You can submit the invoice form again with this link
Thank you for your wonderful involment!

[2022-01-17 22:39] theodu commented on #9
Hi @Renerd-max
I revalidate your article, it will be published next week

[2022-01-18 04:52] FnSK4R17s commented on #8
Hey @theodu
I have generated a new invoice with the article link. I'm excited to see my article published in your blog.
Thanks for the info !
Regards,
Shikhar

[2022-01-18 05:10] Renerd-max commented on #9
Alright @theodu I should apply the experience here to the next one

[2022-01-18 09:47] FnSK4R17s commented on #8
Hey @theodu
I checked out the article on your blog. Just wanted to ask you if I will be credited as the author of the article or will it be a ghostwriter type of gig. Because I can see that the website shows that the article is written by you. Please clarify.
Regards,
Shikhar

[2022-01-18 11:48] theodu commented on #8
Hi,
Indeed, as I copy-pasted the article and published it, it is published under my name.
This is not the expected behavior and it should be published under your name. I can't change it at the time since I don't have the edit right to do it, I ask them asap.
You are credited for the article and we will very soon make social media communication with the image that you created with your picture.
Reg

[2022-01-18 11:52] FnSK4R17s commented on #8
@theodu
Thanks for the clarification Theo. I really appreciate that.
Regards,
Shikhar

[2022-01-19 20:52] mrdvince opened #69 "[Article Proposal] Image data collection, training using yolov5 and deployment using django rest framework"
### My resource
An article covering collecting image data (fruit types as an example case) training and deployment.

**Topic:** Training and deploying a custom objection model using yolov5 and Django

### Summary
The main goal of the article is to help the reader be able to go from having an object detection idea, acquiring the data, training the model, and finally being able to put it in a produc

[2022-01-20 09:08] PanosAntoniadis opened #70 "[Article Proposal] How to recognise emotions through facial expressions"
### My resource
An article covering an introduction to facial expression recognition and training a baseline model on facial data.

**Topic:** Training and evaluating a CNN model on a facial database

**Outline:**
- Introduction to the topic covering the two basic emotion representations (dimensional, categorical).
- Analysis of a facial database.
- Implement and train a CNN model in PyTorch that

[2022-01-20 17:20] theodu commented on #8
@FnSK4R17s I sent you a mail to invite you to join our blog as a contributor, I need you to sign in to be able to put you as author

[2022-01-20 17:23] theodu commented on #9
Hi @Renerd-max
I sent you an invitation by mail to join us as a blog member on WordPress platform.
When you accept it, you can create a new post and get your article in shape.

[2022-01-20 17:26] Renerd-max commented on #9
Invitation accepted, I shall do so at my earliest convenience.

Renerd

On Thu, Jan 20, 2022, 18:23 theodu ***@***.***> wrote:

[2022-01-20 17:39] FnSK4R17s commented on #8
Hey @theodu ,
I have joined using your invitation link. What do I need to do next?

Thanks,
Shikhar

[2022-01-20 18:37] Renerd-max commented on #52
Hi @theodu, I updated this article, you can take a look

[2022-01-20 19:21] Renerd-max commented on #9
Submitted for review

[2022-01-21 08:37] theodu commented on #8
Hi @FnSK4R17s
That's it!
For the next articles, you will have to get your article in shape in WordPress but I did it for this one.
I needed the invitation to change the author of the article

Best
Théo

[2022-01-21 17:02] DamianArado commented on #48
@theodu, Please have a look: https://docs.google.com/document/d/1gofZcHHFBhWckYvAtwBEelV9wKrVhlYyH7MBt7vDKek/edit?usp=sharing and let me know what you think.  😄

[2022-01-24 08:24] theodu commented on #8
Hi @FnSK4R17s
I didn't add the IBAN on the invoice but we also need it to send the money. Can you please send me a mail at theo.dullin@kili-technology.com with your IBAN? No need to resubmit the invoice.
You are the first one to have reached the article publication, so it requires us to adapt our workflow. I am sorry about the delay.
Regards,
Théo

[2022-01-24 08:52] theodu commented on #48
Hi Damian,
I'll have a look at it and give you feedback.
Thanks!

[2022-01-24 10:41] theodu commented on #8
Okay, then the limitation comes from our side. Our bank only accepts IBAN as necessary information to do a money transfer.

[2022-01-24 10:45] FnSK4R17s commented on #8
Yeah, my country doesn't use IBAN. There should be a provision for that. You should probably check with your bank. Thanks.

[2022-01-24 10:51] theodu commented on #8
ok, we'll have a deeper look!

[2022-01-25 09:24] theodu commented on #9
Hello Renerd,
your article is planned to be published tomorrow at 9:00 CET.
I just changed one image to make it more professional.
You will be able to submit your invoice tomorrow with the link

[2022-01-25 16:07] FnSK4R17s commented on #8
@theodu Payment Received 🎉

[2022-01-25 16:48] theodu commented on #8
Very good!
The article is very good, congratz!

[2022-01-28 13:02] theodu commented on #69
Hi @mrdvince
Thank you for your proposal and sorry for the time to answer!
I like the fact that the article gives an end-to-end solution. However, we already have an article in progress/on hold on object detection using Yolov4 #6. Even if your article would go deeper, we should wait for this article to be written to avoid redundancy.
Best
Théo

[2022-01-28 13:04] theodu commented on #70
Hi @PanosAntoniadis
I like this article! It is a very used use case and you intend to have a part in database analysis.
We currently have a lot of articles in progress. I put this one on hold waiting to advance on the other topic and I come back to you ;)

[2022-01-28 13:11] mrdvince commented on #69
Hello @theodu
Sure sounds good.

[2022-01-28 17:32] ErikValle opened #71 "Tutorial: Different Types of Data Augmentation"
### My resource

**Topic: Tutorial: Different Types of Data Augmentation**

**Outline: I would like to explain how different types of Data Augmentation techniques improve or worsen popular Machine Learning approaches such as VGG-16, YOLOv5, etc. I will use photometric transformations, geometric transformations, GAN, KNN, etc.**

### My content is

- [x] A Kili Tutorial / Guide / How to article
- [

[2022-01-28 20:49] alperiox commented on #5
Hello @theodu. Please have a look: https://docs.google.com/document/d/1zzGo6Pd2yNesfXVJ2nclgzyQF6AVnQJa_rx8es-uuxs/edit?usp=sharing

[2022-01-29 01:38] bm777 commented on #4
I will finish it before the 15th February :)

[2022-01-31 08:49] theodu commented on #13
Hi Joy, I well received your doc, we will review it asap

[2022-01-31 08:51] theodu commented on #5
Hi Alper, we will review it asap!

[2022-01-31 19:41] theodu commented on #5
Hi @alperiox
I went though your article. This is totally wonderful! You did an excellent job and I can feel that you are passionate about it.
I will make someone else review it.
We keep you in touch
best
Théo

[2022-01-31 23:33] alperiox commented on #5
Thank you very much! I'm glad you liked it :)

[2022-02-03 08:29] #52 closed

[2022-02-03 08:42] theodu commented on #48
Hi Mohammad,
Thank you for having taken the feedback quickly!
It is now ready to be published ;) congratz!
I created you a Wordpress account on our company, you can create a new post and fill your article. I will click on publish button when it will be ready

Best
Théo

[2022-02-03 23:43] DamianArado commented on #48
Thanks a lot, Theo! 😄

I sent you an email asking for credentials to log in and the place to do so.

[2022-02-04 10:43] #8 closed

[2022-02-04 10:43] #9 closed

[2022-02-04 18:09] theodu commented on #5
Hello @alperiox !
We went through your article and it made an excellent impression on the team!! Congratulation ;)
I want to thank you did an excellent job and we would of course love to continue to work with if you enjoyed the exercise ;)
As I promised you, I will get close to the Hugging face community manager to see if you can post your article on their blog too!
I just made some new comments b

[2022-02-04 18:11] theodu commented on #5
Our marketing team worked very hard the past few days and will launch a new website next week! The blogs were handled on our website so we need to wait for the migration to be done to be able to post new blog posts.
Also, I am on holiday next week, so I won’t be able to answer your questions if you have some.
I am sorry but I will have to make you wait 1 week and a half before to be able to write

[2022-02-04 18:37] alperiox commented on #5
Hi @theodu! Thank you very much! It was a great experience. You're right, I've focused on the marketing side a little. I have checked and made changes according to your suggestions. The delay is not a problem. I'm glad that I will be able to see my content on the platform :D

[2022-02-15 12:26] alperiox commented on #5
Hello @theodu, I got the AutoNLP usage invoice today. How should I proceed?

[2022-02-15 13:27] theodu commented on #5
Hi Alper!
Once your article will be published, you will be able to submit the invoice
for your article writing (cf the FAQ on the blogger program).
Here you will be able to add a line for the autoNLP invoice. Just send me
your autoNLP invoice too so I can have it too.

I had the formation on the new website yesterday. I keep you in touch for
the publication of your article whenever we are ready. Y

[2022-02-15 15:13] theodu commented on #4
Hello @bm777, how are you doing with this content?

[2022-02-15 15:15] theodu commented on #7
Hi, as we are working on an OCR tool at the time, I have to cancel this issue.
best,
Théo

[2022-02-15 15:15] #7 closed

[2022-02-15 15:16] #10 closed

[2022-02-15 15:16] theodu commented on #11
Due to content redundancy, I have to cancel this issue,
best,
Théo

[2022-02-15 15:16] #11 closed

[2022-02-15 15:17] theodu commented on #12
I cancel this issue because of redundancy

[2022-02-15 15:17] #12 closed

[2022-02-15 15:18] theodu commented on #38
hi @sroder, How is it going with your article?

[2022-02-15 15:28] theodu commented on #6
Hi @alperiox
This content isn't really any more a target for us.
We liked a lot your article on Hugging Face and the new target is to produce similar content with other AI frameworks. would you be interested in writing other content such as the one you did?
Did you already work with Datarobot or Domino Data Lab?

[2022-02-15 15:29] theodu commented on #70
Hi @PanosAntoniadis
How Kili would intervene in this article?
Best
Théo

[2022-02-15 15:35] sroder commented on #38
Hi Theodu,

sorry for the delay. I am going through Article templates and Guidelines.
I plan to start writing the article next week.

Best regards,
sroder

Am Di., 15. Feb. 2022 um 16:18 Uhr schrieb theodu ***@***.***

--
Mit freundlichen Grüßen
Saurabh Kumar
Passau
+491748957344

[2022-02-15 15:40] theodu commented on #69
Hi @mrdvince
How are you doing?
We have a new focus on our blog strategy. AI is split into many different frameworks and Kili is only a brick of the whole ecosystem. We would like to show how to connect Kili to other frameworks. Your content would introduce a lot of these frameworks and that is a very good thing! We would like such content to be tutorials and not articles. Like this, it would help

[2022-02-15 15:48] theodu commented on #61
Hi @fernandojvdasilva!
I come back to you, the outline that you wrote is very interesting and it could help a lot of people to create a Twitter dataset.
Are you still up to writing such content?

[2022-02-15 15:50] theodu commented on #38
Alright, thank you for the update!

[2022-02-15 15:57] theodu commented on #71
Hi @ErikValle
I am very sorry for the delay!
Unfortunately, data augmentation is not a target topic at the moment.
But don't hesitate to propose other content!

[2022-02-15 15:57] #71 closed

[2022-02-15 15:59] DamianArado commented on #49
I'm doing great, thanks @theodu 😄.

Congrats on releasing the new website! 🚀

Sure, I'll begin with this one now.  Thanks for the update.

[2022-02-15 16:04] DamianArado commented on #49
I'll try to finish the first draft by 25th Feb, hopefully.

[2022-02-15 16:07] theodu commented on #49
That's great!
Good luck!
Théo

[2022-02-15 17:58] FnSK4R17s commented on #64
Hey @theodu
Thanks for asking. I have written the article along with two jupyter notebooks for text and image classification use cases. Sadly I haven't been able to edit my draft because of prior work commitments. I'll do this on priority and submit it for review as soon as possible.
Regards,
Shikhar

[2022-02-15 18:23] alperiox commented on #5
Thank you for the quick reply @theodu! You can access the invoice [here](https://drive.google.com/file/d/1D_kpg7SfEtXqnGvUa-s_xoo5NiLufVpu/view). I'll also add it to the article's invoice too when the article is published!

[2022-02-15 19:14] alperiox commented on #6
Hello @theodu. I haven't used them before but I checked and liked them both! Exceptionally, Domino Data Lab seems to have pretty cool solutions. I see that DataRobot has a wide range of options. It is literally a fully-fledged platform for automated ML from processing the data to the deployment.
But I have very little or no experience in especially MLOps. Therefore while I'm still interested in wr

[2022-02-15 23:39] mrdvince commented on #69
Hi, @theodu am doing good; yeah it's feasible, I could split this into 2 tutorials, one mainly focusing on the deep learning bits and the other one focusing on the deployment of the trained models.

[2022-02-16 07:42] theodu commented on #69
Hi @mrdvince
That sounds great! Let's at least begin with the first one.
can you please write here an outline for the first tutorial?
in your previous outline, you spoke about fruit types as an example case. This is quite an academic use case, could you find one closer to what a company might use ?

[2022-02-16 07:45] theodu commented on #6
Hi @alperiox Thank you for your answer,
Alright.
Otherwise, I put here other framework targets: Dataiku, Google Cloud Machine Learning Engine, Microsoft Azure Machine Learning service, H2O.ai, OctoML.
Do you have experience in any of them?

[2022-02-16 07:47] theodu commented on #64
Hi @FnSK4R17s
Thank you for the update!

[2022-02-16 13:06] sayannath commented on #54
It will take me one week to complete this.

[2022-02-16 13:36] theodu commented on #54
ok, thank you for the update!

[2022-02-16 17:54] theodu commented on #69
I don't have any industry in mind. As the people targeted by the article are senior data scientists, the idea is just to take a dataset that is not academic/too simple to give legitimacy to the content. I let you find the one that suits you !

[2022-02-16 22:32] alperiox commented on #6
Hey @theodu. I've used Dataiku, H2O, and Azure before. I believe I can implement an easy-to-follow, basic pipeline for businesses.

[2022-02-17 08:41] theodu commented on #6
Wonderful!
I let you think of a good use case and make a new issue for an article?
I don't know how many of these frameworks you would like to integrate into your article. These contents have to be tutorials, it takes more time to write. I let you think if you want to integrate them 1 by 1 and make other frameworks in other contents or if you want to use both in the same tutorial etc.

[2022-02-17 10:00] alperiox commented on #6
Sure thing! I'd like to integrate them one by one, I think it is better to target a specific audience in the tutorials. Also, it may be difficult for the reader to follow.

[2022-02-17 22:46] mrdvince commented on #69
@theodu I think aerial object detection could come in handy for traffic use cases esp in urban settings.
here is a breakdown of the outline,
- [ ] Getting the data (scrape images from duck duck go)
entails creating a dataset from scratch (and this can be used for any use-case) someone would have.
- [ ] Annotate the images (following the Yolo v5 format)
- [ ] Data versioning using Weights & Biases

[2022-02-21 10:33] theodu commented on #69
I love it. The use case is also very good I think.
The outline is very good! for the annotation phase, use Kili of course, I can upgrade your license if needed!
I assign you to the tutorial, you can begin to work on it ;)

[2022-02-21 23:41] mrdvince commented on #69
Awesome, I will start creating a dataset and start working on it, will reach out on the license upgrade when I get to the annotation stage.

[2022-02-28 17:25] theodu commented on #49
Hi @DamianArado thank you very much!
I will have a look at it

[2022-03-01 09:48] JustBrn commented on #64
Hi @FnSK4R17s,

Nice to meet you! I'm working with Theo on this blogger program. Just checking in -  do you have everything you need to finish this article?

Thanks!

[2022-03-01 09:50] JustBrn commented on #54
Hi @sayannath,

Nice to meet you! I'm working with Theo on the Blogger Program here. I'm just checking in following your last messages. How is the writing going? Do you have everything you need to write this tutorial?
Let me know if you need us on something :)

[2022-03-01 12:14] mrdvince commented on #69
Hello @theodu Here is the google docs link: https://docs.google.com/document/d/11YUTvCIR1Kq31UqD8MPllbM1K3G8xq0s/edit?usp=sharing&ouid=115520018587204261582&rtpof=true&sd=true

[2022-03-01 18:55] theodu commented on #69
Thanks!, I will review it asap

[2022-03-05 12:38] amrkh97 opened #72 "[Article Proposal] Lip reading through visual cues - Without Audio cues or CNNs -"
### My resource

**Topic:**
Building a Lip reading application using Python3, Tensorflow & OpenCV through visual cues only as opposed to conventional Audio-visual cues datasets.

The tutorial will provide full code for the data prepration pipeline, data cleansing, data padding and the compele structure for the Deep learning models and training.
**Outline:**
1. Motivation for creating a lip-reading

[2022-03-07 16:03] mrdvince commented on #69
@theodu Hello,
thanks, I have gone ahead and added the conclusion and a link to the GitHub repo for the reference code.

[2022-03-07 16:33] theodu commented on #69
Hi @mrdvince Nice, You just missed a word in the conclusion, I let you add it.
@JustBrn This article is reviewed

[2022-03-07 16:44] mrdvince commented on #69
@theodu I have seen the comment, thanks. Gone ahead and edited it.

[2022-03-08 09:18] amrkh97 commented on #72
Hi @theodu , would love to hear your input on this article proposal and if there are any modification that you see that would fit better.

[2022-03-08 10:26] theodu commented on #49
Hi @DamianArado
We've been through your article and made some comments.
Happy to answer your questions if you have some

[2022-03-08 12:38] DamianArado commented on #49
@theodu, thank you, I will go on to the comments one by one and make the necessary changes. As soon as I'm done, I'll inform you here.

[2022-03-08 15:31] theodu commented on #48
Hi @DamianArado
With the new website, we cannot create an account for every writer. We will then write your article on the blog page by ourselves and warn you when it will be published.
Sorry again, we go through several issues with this new website, thank you for your comprehension!

[2022-03-08 15:32] theodu commented on #5
Hi @alperiox
With the new website, we cannot create an account for every writer. We will then write your article on the blog page by ourselves and warn you when it will be published.
Sorry again, we go through several issues with this new website, thank you for your comprehension!

[2022-03-08 16:29] DamianArado commented on #48
@theodu thanks for the update!

[2022-03-08 16:58] theodu commented on #72
Hi @amrkh97
Thank you for your article proposal!
Even if this article deals with dataset selection and cleaning, it is quite model-centric and I don't see what it would bring to the data-centric topic. How can you turn your article so that it brings something to the data-centric approach ?

Thank you!

[2022-03-08 19:08] alperiox commented on #5
Thank you for informing me @theodu!

[2022-03-08 21:29] mrdvince commented on #69
hi @theodu how will I know if the article has been published?

[2022-03-09 08:27] theodu commented on #69
Hi @mrdvince We will keep you in touch. I don't handle the second phase where we publish it but we will keep you in touch when we know the publication schedule date!

[2022-03-10 16:05] JustBrn commented on #69
Hi @mrdvince I'll take care of publishing your article, and will let you know once done! It will be live next week.

[2022-03-13 19:14] mrdvince commented on #69
Hi @JustBrn awesome thanks.

[2022-03-16 15:03] JustBrn commented on #5
Hi @alperiox, we're finalising the last details and your article should be published tomorrow!

[2022-03-16 15:07] JustBrn commented on #48
Hi @DamianArado, we'll be publishing your article tomorrow! I'll let you know once it is live.

[2022-03-16 15:11] JustBrn commented on #61
Hi @fernandojvdasilva, checking in! How is the writing going?

[2022-03-16 16:50] DamianArado commented on #48
Thanks!

[2022-03-17 05:40] alperiox commented on #5
Oh, that's nice! Thank you for the notification @JustBrn!

[2022-03-17 08:35] JustBrn commented on #5
Hi @alperiox, your blog post is published! You can find it here:
https://kili-technology.com/blog/opinion-classification-with-kili-technology-and-huggingface-automl

You can now send us the final invoice and we'll process it. Thanks!

[2022-03-17 13:11] alperiox commented on #5
Hey @JustBrn! I'll send the invoice as soon as I can but I have a question. The invoice template uses euros as currency but it is given as dollars in the FAQ. Should I fill the invoice with the corresponding amount of euros? Sorry if it's a dumb question 😄

[2022-03-17 16:04] JustBrn commented on #5
@alperiox No dumb questions! The invoice should be 150 euros, not dollars. I'll update the FAQ :)

[2022-03-18 04:28] alperiox commented on #5
@JustBrn thank you for the answer :) I submitted the invoice.

[2022-03-21 08:29] StarksFrank opened #73 "[Article Proposal] AI and Python and golang"
### My resource

I have a plan to use AI do something with Python and golang
**Topic:**
golang have a good  way do Concurrency tasks, it can be a server
python have a good support with AI framwork
and i have some base userderstand about how the AI framework works
**Outline:**

### My content is

- [ ] A Kili Tutorial / Guide / How to article
- [ ] An Article
So, I Can do sthing work with python AI

[2022-03-21 13:20] fernandojvdasilva commented on #61
Hi Justine!

I'm sorry, I had some personal issues and I couldn't move forward with the
article... But I estimate I can finish it until the middle of April.

Best regards,

Fernando Vieira da Silva

Em qua., 16 de mar. de 2022 às 12:12, Justine ***@***.***>
escreveu:

[2022-03-22 11:13] #73 closed

[2022-03-23 08:58] JustBrn commented on #61
Hi @fernandojvdasilva no worries! Mid April is fine. Thanks :)

[2022-03-23 14:02] JustBrn commented on #48
@DamianArado hi, your article is live! Apologies for the delay, I was on sick leave.
https://kili-technology.com/blog/collecting-labelling-and-validating-data-efficiently-for-production-environment
You can submit your invoice now. Thanks for your contribution!

[2022-03-23 14:03] JustBrn commented on #49
@DamianArado any news on this ? :)

[2022-03-23 17:39] DamianArado commented on #48
@JustBrn thanks for letting me know. The site looks really good.

I'll send it by tomorrow.

[2022-03-23 18:26] DamianArado commented on #48
@JustBrn, I am confused regarding one thing - what all details I have to mention as a bare minimum in the invoice in order to receive the payment? 😅

I have these ready: Account Name, Account Number, Branch, Bank Address, Swift code.

But `Branch code (Sort Code): IBAN` is not there as the IBAN number is not required to transfer money in India.
[code]
[Source](https://www.extravelmoney.com/blog/wh

[2022-03-24 10:37] JustBrn commented on #5
@alperiox we haven't received the invoice. Can you upload it again? Thanks!

[2022-03-24 11:06] JustBrn commented on #48
@DamianArado yes that should work!

[2022-03-24 12:27] alperiox commented on #5
Done :)

[2022-03-25 09:13] amrkh97 commented on #72
Hi @theodu , Sorry for the late reply.

One way I can make it data-centric is by focusing on different techniques to handle images, whether it is for an OCR, a Lip reading app or if you are just playing around. how can we detect various types of images, contexts and objects.

[2022-03-26 08:37] Renerd-max opened #74 "[Article Proposal] Methods for Clinical Text Classification"
### My resource

**Topic:** Methods for Clinical Text Classification

**Outline:**
**Introduction**

What is clinical text classification, its usefulness and how Kili can help?

**Various Methods of clinical Text classifications**

Will provide descriptions with examples.

**Understanding the Business Model.**
**Understanding available data**
**Data Preparation**
**Data modelling and evaluation**

[2022-03-29 08:13] JustBrn commented on #69
@mrdvince your article has been published! https://kili-technology.com/blog/aerial-object-using-yolov5-and-kili-technology
You can send your invoice now :)

[2022-03-29 08:15] JustBrn commented on #48
@DamianArado your invoice has been processed! I'm closing the issue. Thanks for your contribution!

[2022-03-29 08:16] JustBrn commented on #5
@alperiox Hi! Your invoice has been processed, therefore I am closing the issue. Thanks for your contribution!

[2022-03-29 08:16] #5 closed

[2022-03-29 08:17] JustBrn commented on #65
@FnSK4R17s Perfect!

[2022-03-29 08:18] JustBrn commented on #38
@sroder Hi! Have you been able to start writing?

[2022-03-29 09:26] mrdvince commented on #69
Hello @JustBrn
Thanks, I've gone ahead and submitted the invoice.

[2022-03-29 10:25] sroder commented on #38
Hi Justine,

sorry for the late reply. I am sending my article as an attachment here.
Please let me know what you think.

Best regards,
Saurabh

Am Di., 29. März 2022 um 10:19 Uhr schrieb Justine ***@***.***

--
Mit freundlichen Grüßen
Saurabh Kumar
Passau
+491748957344

[2022-03-29 11:25] JustBrn commented on #38
@sroder Cool! Unfortunately I cannot see the attachment. Can you send a link here on GitHub?

[2022-03-29 12:31] sroder commented on #38
[Google Pub-Sub meets Python Dash for Live Data Drift Visualization.docx](https://github.com/kili-technology/kili-blogger-program/files/8371390/Google.Pub-Sub.meets.Python.Dash.for.Live.Data.Drift.Visualization.docx)

[2022-03-29 12:32] sroder commented on #38
@JustBrn have uploaded the docx file

[2022-03-31 15:31] theodu commented on #38
Hey @sroder
I had a look at your article. I don't know Google PubSub but your article seems good!
I have a few remarks to improve it:

One quite big comment:
- the use case that you tackle in your article is a bit far from what our clients have. Our tool empowers machine learning. They train models on data that they gathered from specific sources and extract features from it to train a model.
For

[2022-03-31 22:20] mrdvince commented on #69
@JustBrn [update] The invoice has been paid.

[2022-04-01 07:47] #69 closed

[2022-04-01 15:52] sroder commented on #38
Hi @theodu,
thanks a lot for investing your time and reviewing the article.
Based on your comments, I should then change the usecase. Please correct me if I am wrong

[2022-04-02 07:40] inconnu11 opened #75 "The blogger program is still active?"
Hi, I see that under the Projects tab, there is no open project. Can we continue to post new article proposals?

[2022-04-02 08:47] inconnu11 opened #76 "[Article Proposal] Transformer is all you need."
### My resource

**Topic:**
Transformer is all you need.

**Outline:**
What's Transformer?
What Matters in Transformer?
Transformer for CV
Transformer for NLP
Transformer for Multi-modal Tasks
Conclusion

### My content is

- [x] An Article

[2022-04-02 08:49] inconnu11 opened #77 "[Article Proposal] How to transform a document image into a text sequence?"
### My resource

**Topic:**
How to transform a document image into a text sequence?

**Outline:**
Introduction
What's Document Layout Analysis?
What's Reading Order in Document?
Detecting and Recognizing texts (OCR) in Document Images
Detecting Page Objects in Document Images
Predicting Reading Order Relationships between Page Objecs
Applications
Key Task-ways

### My content is

- [ ] A Kili Tuto

[2022-04-04 16:44] asmaamirkhan opened #78 "[Request New Content]"
### Fake News Detection

#### Introduction
The aim of this tutorial is to show how to enhance a very basic dataset which contains only tweet id, tweet text and label by making it very rich so it can be more useful in the analysis part in real life tasks.

#### Outline

- Explaining the structure of [ECTF](https://github.com/LCS2-IIITD/ENDEMIC/tree/main/ECTF%20Dataset%20Sample) dataset
- Explaining

[2022-04-07 08:44] JustBrn commented on #75
@inconnu11 Hello! Yes, our blogger program is still active, you can suggest new articles by creating an issue. Hope you'll contribute soon!

[2022-04-07 08:46] JustBrn commented on #77
@inconnu11 thanks for your submission! Let us take a look and get back to you.

[2022-04-07 08:46] JustBrn commented on #76
@inconnu11 thanks for your second submission! We'll review your proposal and get back to you.

[2022-04-07 08:48] #75 closed

[2022-04-07 08:49] JustBrn commented on #78
@asmaamirkhan thanks for your proposal! We'll review it and get back to you shortly.

[2022-04-07 08:50] JustBrn commented on #74
@Renerd-max thanks for your submission! We'll take a look and get back to you.

[2022-04-07 08:53] JustBrn commented on #4
Hi @bm777, any news on this? Thanks!

[2022-04-07 08:55] JustBrn commented on #64
Hi @FnSK4R17s, how you're doing well! How are things going on this article?

[2022-04-07 09:18] theodu commented on #5
Hello @alperiox
How are you doing?
We are trying to push your article on Hugging Face's blog!
That would be a super opportunity to have it on a blog that is quite followed!
We pushed it and they requested some changes: https://github.com/huggingface/blog/pull/256
We will invite you to Edouard's GitHub so you can take those changes if this is ok for you?

[2022-04-07 09:59] bm777 commented on #4
Hi @theodu and @JustBrn Sorry for the long silence, I was in Russia since February.
The situation was not quite for me. So I had to reallocate.

A few days ago I checked it, but the link https://cloud.kili-technology.com/docs/interfaces-image/segmentation/  was not working.

I'm asking myself if it is the same as this one: https://cloud.kili-technology.com/docs/getting-started/getting_started-imag

[2022-04-07 12:56] alperiox commented on #5
Hey @theodu, that's great! I'm working on it!

[2022-04-09 00:05] DamianArado commented on #49
@JustBrn, the article is ready for review. 🙂

Use the link: https://docs.google.com/document/d/1b6mRGahTqHbWht73sfGTOjsctz3XZA80vN6E0K6A2R4/edit?usp=sharing

[2022-04-11 07:46] JustBrn commented on #49
@DamianArado thanks! We'll check it out and get back to you.

[2022-04-12 15:16] alperiox commented on #5
Hello @theodu! I have created a pull request to Edouard's repository.

[2022-04-12 15:45] theodu commented on #5
Hi @alperiox,
Thank you very much! i'll notify him

[2022-04-12 16:16] theodu commented on #72
Hi @amrkh97, also sorry for the late reply
We won't continue with this article because we recently published an article on image modeling and this one does not add a topic that we are interested into.
But do not hesitate to make another article proposal!
best,

[2022-04-12 16:16] #72 closed

[2022-04-12 16:17] theodu commented on #74
hi @Renerd-max, We already published an article on text classification recently and we do not see any added value for that one.
thank you for this proposal!

[2022-04-12 16:17] #74 closed

[2022-04-12 16:19] #76 closed

[2022-04-12 16:27] JustBrn commented on #38
Hi @sroder, how is it going? Are you able to change the use case? Thanks!

[2022-04-12 16:28] JustBrn commented on #6
Hi @alperiox, opening this back after a long pause :)
Are you still willing to work on this article? Thanks!

[2022-04-12 16:31] theodu commented on #77
Hi @inconnu11,
that seems to be a nice outline!
What data do you want to use and how do you intend to use Kili? We don't have an OCR model yet in the platform but we have an OCR annotation tool that you can use.
And also, what do you call "Predicting Reading Order Relationships between Page Objects"?

[2022-04-12 16:35] theodu commented on #78
Hi @asmaamirkhan
That is a wonderful article!
you can begin to work on it, I assign it to you!
Once you will have created your Kili account, send me a message at theo.dullin@kili-technology.com with your user email, I will update your license to a premium one to do the tutorial!
Good luck

[2022-04-12 16:39] theodu commented on #4
Hi @bm777,
Sorry for this link issue, we are working a lot on our documentation to update it and to make it nicer.
You can indeed find all Infos on this link: https://cloud.kili-technology.com/docs/getting-started/getting_started-image_semantic_segmentation/

[2022-04-12 16:58] bm777 commented on #4
okay then thanks @theodu

[2022-04-12 19:23] alperiox commented on #6
Hello @JustBrn! I'd love to! I just need to collect some data, then it should be okay :)

[2022-04-12 21:37] sroder commented on #38
Hi Justine,

Can you suggest a usecase where Data Visualization might be required.

Best regards
Kumar

Justine ***@***.***> schrieb am Di., 12. Apr. 2022, 18:27:

[2022-04-12 21:53] asmaamirkhan commented on #78
Hi Theo!
Thank you for your reply! I've just sent you an email. I'll begin with working on this tutorial directly!

[2022-04-13 07:58] JustBrn commented on #4
@bm777 do you have everything you need to write this tutorial then? Or do you still need us to help you with something?

[2022-04-13 08:21] theodu commented on #38
hi @sroder
you could think of an example where data have a drift over time in their distribution. For example, you can take tweets or other text data, extract meaningful Infos and see a drift. It could be several inputs that evolve over time: the interest of people in a subject etc...

[2022-04-13 08:28] sroder commented on #38
Thanks for the tip! I will work on it 🙂

theodu ***@***.***> schrieb am Mi., 13. Apr. 2022, 10:22:

[2022-04-13 08:29] theodu commented on #78
Hi @asmaamirkhan
It is done, you now have a premium license for 1 year!
You can now create projects for every data type, use the API: https://github.com/kili-technology/kili-playground, play with the queue and review feature, etc.
All the documentation of the platform is here: https://cloud.kili-technology.com/docs/overview/introduction-to-kili-technology.html

[2022-04-13 20:45] bm777 commented on #4
@JustBrn yeah i would like to have a sample, in such a way a template.

[2022-04-14 15:04] theodu commented on #4
Hi @bm777 What do you mean by sample ? a template of what?
best
théo

[2022-04-14 16:04] bm777 commented on #4
Just like a preview of a tutorial done.
Just to see what should be the final result.

or we should only make articles in a google document ?

[2022-04-15 14:42] bm777 commented on #4
@theodu que thanks so much.

It is the information I wanted to know.

And for the Template 👍

[2022-04-18 20:58] DamianArado commented on #49
Hi @JustBrn, any updates? 😅

[2022-04-19 09:08] theodu commented on #49
Hello @DamianArado!
I didn't have time to review it, I do it asap.
Sorry for the delay,
Best
Théo

[2022-04-19 15:22] JustBrn commented on #77
Hi @inconnu11, any thoughts on Théo points above? Thanks!

[2022-04-19 15:25] JustBrn commented on #64
Hi @FnSK4R17s, any news on this? Happy to hear from you :)

[2022-04-19 15:26] JustBrn commented on #6
@alperiox alright, that works! Let me know when you're ready to start :)

[2022-04-25 09:23] asmaamirkhan commented on #78
Hi @theodu , @JustBrn ,

The tutorial is ready for review in [this link](https://docs.google.com/document/d/11WeTqlY9YlmFHQG_g6LhRm4VT9_xBAtm/edit?usp=sharing&ouid=101292850739952465042&rtpof=true&sd=true), please have a look!

[2022-04-25 12:18] theodu commented on #78
Hi @asmaamirkhan
Great! I'll review it asap, I won't have the time today but I will do it in the next days.
I keep you in touch!

[2022-04-25 16:20] JustBrn commented on #61
Hi @fernandojvdasilva ! Hope you're doing well. Have you been able to work on this article so far?

[2022-04-26 23:28] DamianArado commented on #49
Hii @theodu  Can you please review it again? I added changes 5 days ago. 😅

[2022-04-27 08:36] sroder commented on #38
Not yet!

Am Mo., 25. Apr. 2022 um 18:23 Uhr schrieb Justine ***@***.***

--
Mit freundlichen Grüßen
Saurabh Kumar
Passau
+491748957344

[2022-04-27 10:26] theodu commented on #49
Hi @DamianArado
yes, the article seems good!
We feel just it just lacks diagrams for active learning, weakly supervised, and semi-supervised learning.
After that, it will be ready for publishing.
We will review faster next time, we are still in the setup of the review process, thank you for your comprehension and sorry

[2022-04-27 13:30] theodu commented on #78
HI @asmaamirkhan
I went through your article. It is very well!
Well written and interesting!
I directly validate it.
We will write on our blog and we will warn you as soon as we decide on the published date.
You will be able to provide an invoice when it will be online.

Thank you for your good work and congratz!

[2022-04-27 17:31] asmaamirkhan commented on #78
Hi @theodu,

Thank you for your quick reply! I'm glad that you liked it 😊.

I created a private GitHub repository and replaced the link in the tutorial. I will make it public once the tutorial is published.

Waiting for the notification of publication impatiently!

[2022-04-27 17:38] DamianArado commented on #49
Great to know @theodu ^_^

I added relevant diagrams. Please have a look and let me know  : )

[2022-04-28 08:55] JustBrn commented on #38
Hi @sroder alright! Let me know when you have :)

[2022-04-28 09:12] theodu commented on #49
Hi @DamianArado
That's good, I can validate this article.
We will write it on our blog and warn you as soon as we have a scheduled date.
Thanks!

[2022-05-02 22:25] fernandojvdasilva commented on #61
Hi Justine!
I'm sorry for the delay on replying. I've just started working on the
article to be honest. Could we reschedule it for May/31?

Em seg, 25 de abr de 2022 13:20, Justine ***@***.***>
escreveu:

[2022-05-03 07:48] JustBrn commented on #61
Hi @fernandojvdasilva, no worries! May 31st works :)

[2022-05-05 12:45] theodu commented on #78
Hey @asmaamirkhan
How are you doing?
We are still putting your article in shape for the website, we keep you in touch ;)

By the way, we really liked your article, it was of very good quality! at Kili we are working on a new repository called autoML: https://github.com/kili-technology/automl
The goal is to empower the annotation workflow with ML-powered algorithms. predictions generation, prioriti

[2022-05-05 17:50] asmaamirkhan commented on #78
Hi @theodu ,
Thank you for your kind words! I'm thrilled to hear that you like my tutorial 😇. Could you please give me an estimated date for publication of the tutorial?

About the AutoML repository; I'm going to have a look at it and then we can shape an article about it.

By the way, I'm facing a problem with accessing my Kili account. It always acts like the following after each login:

![image

[2022-05-06 07:56] JustBrn commented on #78
@asmaamirkhan hi ! We're almost done with formatting your article, it'll be published next week. :) Thanks again for your great contribution !

[2022-05-06 09:52] theodu commented on #78
Hi @asmaamirkhan
That is indeed an issue for your experience on the platform. Does it work better if you delete your cookies? Otherwise, the support mail of the team is support@kili-technology.com
That is great for the next article! I will create a new issue for this

[2022-05-09 11:32] theodu commented on #78
Hey @asmaamirkhan, how are you?
First of all, I saw the issue with your account with the support team. There was an issue when upgrading your account to a premium one, this should work now. Can you confirm this?

Very happy to see that you like our autoML features! The mind of the content would be an article to show what are the use cases, how it is useful etc. The idea is also not to include a lo

[2022-05-09 20:01] asmaamirkhan commented on #78
Hi @theodu,

The support team was very quick in solving the problem, everything is working fine now 😇.

Thank you for the clarifications. Everything about the new article is clear now, I'll shape an outline and propose it in a new issue in the following couple of days.

[2022-05-10 09:21] theodu commented on #78
Great! After that, you propose your outline and I validate it, we will also have to validate it with Weight and Biases because we expect to see this article published on their blog too. This could create a great impact on your article! do you have any problem with that?

[2022-05-10 11:14] asmaamirkhan commented on #78
Hi @theodu,

It's okay, that's totally fine for me 😊

[2022-05-11 13:11] JustBrn commented on #78
Hi @asmaamirkhan happy to tell you that your article is now published!
https://kili-technology.com/blog/351538e5-bd46-44b8-aa6c-650d6e777822
You can send your invoice over. Thanks for your contribution!

[2022-05-11 13:39] asmaamirkhan commented on #78
Hi @JustBrn,

That's great news 🎉, thank you very much! I made the repo public and also submitted the invoice.

Have a nice day 🥳

[2022-05-12 11:44] JustBrn commented on #61
Hi @fernandojvdasilva! How is the writing going?
Happy to get some news

[2022-05-12 11:46] JustBrn commented on #4
Hi @bm777 how are you? Have you been able to work on this article? Thanks!

[2022-05-12 23:48] fernandojvdasilva commented on #61
Hi @JustBrn! Yes, I've been working on the article and it's on track now!

[2022-05-13 19:48] DamianArado commented on #50
Please find the article attached below:

https://docs.google.com/document/d/1j3wsavCIH_b13aCT6t3mHLIG6GlZI0tl3HrtXfW8Uag/edit

[2022-05-14 10:47] theodu commented on #78
Hi @asmaamirkhan, just a quick message to say to you that we had a discussion with Weight and Biases and that we would rather go on an image use case, rather than text.
I wanted you keep you in touch now in order for you not to lose too much time working on an outline for a text use case. I keep you in touch soon.
Have a very nice weekend!

[2022-05-14 10:58] asmaamirkhan commented on #78
Hi @theodu,

Thank you for informing me. Actually, I started today to work on the outline of the new article and I'm going to stop now 😅. Waiting for the details.

Have a nice weekend 😇

[2022-05-15 08:47] JustBrn commented on #50
Hi @DamianArado thanks! We'll take a look and get back to you :)

[2022-05-16 07:34] asmaamirkhan commented on #78
Hi @JustBrn,

I submitted the invoice on Wednesday but I haven't yet received the payment. Is there something else that I have to do?

Thank you in advance 😊

[2022-05-16 07:37] JustBrn commented on #49
@DamianArado your blog post has been published! https://kili-technology.com/blog/fcebc660-7f1d-4cda-aeaa-d9f5a164491c
You can send your invoice over. Thanks for your contribution :)

[2022-05-16 07:51] JustBrn commented on #78
Hi @asmaamirkhan, the payment has been done so you should see it on your account this week.

[2022-05-16 11:54] theodu commented on #50
Hello @DamianArado!
I cannot access your document, I made a demand
Best
théo

[2022-05-16 11:56] DamianArado commented on #50
Hii @theodu 👋
I forgot to update the edit permissions for all. It should be accessible now.

[2022-05-16 15:00] DamianArado commented on #50
I agree. I have to do a revamp, shorten it a bit, and not be immature again.

[2022-05-17 14:35] theodu commented on #78
Hi @asmaamirkhan!
Sorry for the setback in the use case for the autoML article.
I created an issue: #79 with more details and the use case. I invite you to write a comment on it so I can assign it to you ;)
Let's continue this discussion on issue #79. if you have any questions, please ask them there ;)

[2022-05-18 09:04] JustBrn commented on #6
Hi @alperiox how is it going with this? Happy to get news.

[2022-05-18 10:23] alperiox commented on #6
Hey @JustBrn! I believe I have enough data now. I planned the project outline and will be working on it after the 25th of May because of my finals.

[2022-05-24 15:54] theodu commented on #50
Hi @DamianArado
We have scanned your previous article with a plagiarism checker tool and we discovered that they are full of plagiarism. We decided not to continue with this article and any of your articles.

We have unpublished all your articles and we can't continue to work with you. You earn back all rights over your content.
We cannot pay you for the 2 last articles that you delivered because

[2022-05-24 15:54] #50 closed

[2022-05-26 08:40] bm777 commented on #4
@JustBrn Hi, I'm fine.
I signed up for the kili platform, but I still do not have access to the platform for the Part II of the Article.

The google draft I did for the part I: https://docs.google.com/document/d/1P31aRlVY5U4Y7XAw34If9_25BHKErlYLxVRDlg8f0yo/edit?usp=sharing

[2022-05-27 08:30] JustBrn commented on #38
Hi @sroder, any news on this article?

[2022-05-27 12:07] sroder commented on #38
Not yet!
you can close/delete the topic

Am Fr., 27. Mai 2022 um 10:31 Uhr schrieb Justine ***@***.***

--
Mit freundlichen Grüßen
Saurabh Kumar
Passau
+491748957344

[2022-05-27 13:52] JustBrn commented on #38
Hi @sroder are you not interested in contributing anymore? Happy to make adjustments if you're simply facing other priorities.

[2022-05-27 16:18] alperiox commented on #6
Hey @JustBrn! I'm working on the project, would there be any problems if I use [this implementation](https://github.com/WongKinYiu/PyTorch_YOLOv4)? I could also prepare a custom implementation by myself but it'd take a bit long.

[2022-05-30 08:03] theodu commented on #6
Hi @alperiox
Sorry there was a misunderstanding on our side. In Mid February, we put this article on hold, because we already had an article with Yolo. Instead, I proposed you if we could make an article with DataRobot or Domino Data Lab, another framework from the ecosystem, like the one that you did with Hugging Faces.
The new main target is to focus on articles showing how to use Kili with anot

[2022-05-30 08:08] theodu commented on #4
Hi @bm777
Can you give me the email that you used to sign in in the platform ? I will provide you with a premium account so you can use it for your article.
I will begin to review the part 1!
Cheers
Théo

[2022-05-30 08:09] bm777 commented on #4
this email: ***@***.***

Le lun. 30 mai 2022 à 09:09, theodu ***@***.***> a écrit :

[2022-05-30 08:11] bm777 commented on #4
Hi @theodu, you can review the part 1.
This email: bayangp0@gmail.com

[2022-05-30 10:12] theodu commented on #4
@bm777
I don't see your user on the platform with this email. Did you create an account here: https://cloud.kili-technology.com/ ?

[2022-05-30 10:15] bm777 commented on #4
No, I went to the product I mean.

just created an account with the link you shared :)

[2022-05-30 10:17] bm777 commented on #4
@theodu how about the part I ?

[2022-05-30 10:18] theodu commented on #4
Ah good, I updated your license, can you now check if you can still connect to the platform ?

[2022-05-30 10:19] theodu commented on #4
Hi didn't have the time to review it, I will let you know as soon as I review it. And I will leave feedback on the google docs

[2022-05-30 10:20] bm777 commented on #4
Yeah, I'm having access right now.
Thank you :)

[2022-05-30 15:24] theodu commented on #4
Hi @bm777
I just reviewed your part 1 of your article.
2 things:
1- it is 90% copy pasted from https://docs.aws.amazon.com/rekognition/latest/customlabels-dg/md-coco-overview.html
Plagiarism is highly punishiable and has big legal consequences. and we can't work with such authors
2- For a copy pasted content, it has no added value. We can't work with authors that just want to batch their work.
For

[2022-05-30 15:24] #4 closed

[2022-05-30 15:37] bm777 commented on #4
@theodu, maybe it's a misunderstanding,
I based myself on the global properties of a dataset in the coco format published here: https://cocodataset.org/#format-data
As you know that it is not the complete doc. Normally I should present the COCO format on a dataset that I have already labelled on the Kili platform.
So, while I was waiting for access under the Kili platform, I embarked on a draft wh

[2022-05-30 18:04] alperiox commented on #6
Hello @theodu! Not a problem, I will propose an article outline about using DataRobot and Kili Technology platform together

[2022-05-31 07:34] theodu commented on #6
Great @alperiox ! please make a new issue for it, I close this one.
Cheers
Théo

[2022-05-31 07:34] #6 closed

[2022-05-31 11:32] alperiox opened #80 "[Tutorial Proposal] Weather image classification with Kili Technology and Data Robot"
### My resource

**Topic:** Weather classification with Kili Technology and Data Robot

**Outline:**
I have a simple image classification dataset that contains 4 different classes of weather (cloudy, rain, shine, sunrise). I will group those as cloudy-rain/shine-sunrise and apply binary classification. The images will be labeled by using Kili Technology data annotation platform and the modeling al

[2022-05-31 12:48] theodu commented on #80
Hi @alperiox
That seems good. Would it be possible to take a more complex use case/dataset for this article ?

[2022-05-31 18:24] alperiox commented on #80
Hello @theodu! I can also use [this](https://vision.eng.au.dk/plant-seedlings-dataset/) dataset for multiclass classification on the platform. I'm not sure about more complex computer vision use cases since I couldn't find documentation about specific computer vision use cases on the DataRobot. But I know it is not possible to implement object detection yet. It is also possible to apply classifica

[2022-06-01 09:53] theodu commented on #80
hi @alperiox Okay, let's stick to image multi-classification then!
But could you find a more industry-related use-case ?
cheers
Théo

[2022-06-02 20:19] alperiox commented on #80
Hey @theodu. It's kind of difficult to come up with more industry-related use cases when we're just using image classification. And tabular data is generally generated automatically so I thought using computer vision would be a good idea. It is possible to implement an image search engine by using calculated image embeddings of the model. I have a dataset of different clothing types (10+ classes i

[2022-06-03 08:09] theodu commented on #80
Hi @alperiox
I had a bit of a deeper look. Having a use case of only image classification is not very interesting. It will be if we have both images and structured data.
You could think of an image with metadata. For example, on data robot demo, they try to estimate the price f a house with a picture of the house, its localisation, its size etc.
Could you find a use case like this one ?

[2022-06-03 09:17] JustBrn commented on #4
Hi @bm777,
I work with Théo at Kili Technology. Unfortunately, the draft you shared is entirely and directly copy pasted from this [documentation](https://docs.aws.amazon.com/rekognition/latest/customlabels-dg/md-coco-overview.html), with no attempt at rephrasing. Even as a draft, this shows clear intention of copy pasting and fast tracking to an article that would be unusable for us.
We are very

[2022-06-03 09:21] JustBrn commented on #64
@FnSK4R17s Hi! Since we do not hear from you, I'll close the issues related to our collaboration. Feel free to come back to us in the future to start things up again ! Thanks

[2022-06-03 09:21] #64 closed

[2022-06-03 09:21] #65 closed

[2022-06-03 09:21] #66 closed

[2022-06-03 09:22] JustBrn commented on #61
Hi @fernandojvdasilva ! Hope you're doing good. How is the writing going? Let me know if you need anything.

[2022-06-03 09:23] JustBrn commented on #54
Hi @sayannath since we haven't heard from you, I'll close this issue. Feel free to come back to us and restart the project ! Thanks

[2022-06-03 09:23] #54 closed

[2022-06-03 12:41] fernandojvdasilva commented on #61
Hi @JustBrn ! I'm so sorry for missing the deadline again, but I'm almost finish with the article, I just need to write the last section and review it. May I we rescheduled it for June/12, please?

[2022-06-03 13:37] alperiox commented on #80
I can do the same project with cars. I have a dataset of car images that contain metadata about cars such as MSRP, model, passenger capacity, gas mileage, etc. It is possible to build a deep learning solution to predict car MSRPs.

[2022-06-07 07:57] theodu commented on #80
Hi @alperiox
yes this use case seems good!

[2022-06-07 07:58] theodu commented on #80
I think that you can begin to work on it!
Have a good week,
Théo

[2022-06-07 07:58] #77 closed

[2022-06-10 15:20] JustBrn commented on #61
Hi @fernandojvdasilva of course! Let us know when you are done and we can review it.

[2022-06-13 15:36] fernandojvdasilva commented on #61
https://drive.google.com/drive/folders/17LIG1q9c2rTR-TP8IDQpWMzWKYkw00f8?usp=sharing

[2022-06-14 12:53] theodu commented on #38
Hi @sroder This issue is created since December 23th 2021.
We often do not put our author un the rush but it has been almost 6months that we started this article. This shows a lack of motivation, more than a lack of time.
Are you still up for writing it or should be cut our work together ?

Best regards,
Théo

[2022-06-14 13:09] sroder commented on #38
Hi Theo,

Please delete the article proposal.

Best regards

theodu ***@***.***> schrieb am Di., 14. Juni 2022, 14:53:

[2022-06-14 13:28] theodu commented on #38
Ok, thank you
I wish you a good continuation

Théo

[2022-06-14 13:28] #38 closed

[2022-06-29 14:51] fernandojvdasilva commented on #61
Hi Marianne!

Sure! I actually have not saved them, but I'll run the script again and
send you some sample tweets later today!

Sorry for not adding them to the article by the way... I should have
thought about it... :)

Best regards,

Fernando Vieira da Silva

Em qua., 29 de jun. de 2022 às 11:39, mtakili ***@***.***>
escreveu:

[2022-06-30 02:45] fernandojvdasilva commented on #61
Hi @mtakili ! Here are some sample tweets:

Tweets collected with the Stream API:

"Covid-19: NZ to stay in orange traffic light setting https://t.co/HTmYxmRxu9"
"RT @MissMia1988: Big thanks to all the people who took the Covid vaccine without a second
thought. Now the FDA is deciding we no longer nee…"
"Our new data shows that 70% of 10-year-olds in developing countries cannot read a basic text,

[2022-06-30 07:12] mtakili commented on #61
Thank you @fernandojvdasilva :) I'll come back to you once the article is published.

Have a nice one!

@theodu, here are the tweets. :)

[2022-07-12 09:00] mtakili commented on #61
Hey, hello @fernandojvdasilva.  :)

Hope you've been doing good.

We're moving on to the publication process but got stuck for the visuals because we don't have enough tweets. Could you collect more of them with the Stream API and send them to us, please?

Best,
Marianne

[2022-07-15 02:39] fernandojvdasilva commented on #61
Hi Marianne!

Here are some more tweets collected right now with the Streaming API:

You can find new active cases in your region here: https://t.co/L5ni2qJkXB

We are also sadly reporting 16 COVID-19 related deaths today. Out of
respect for the friends and whānau, we will no… https://t.co/lszc5Gj70W

RT @MartyMakary: The Paxlovid rebound phenomenon wasn't disclosed in
Pfizer's peer-reviewed paper

[2022-07-18 07:42] mtakili commented on #61
Hello @fernandojvdasilva,

Thanks for these new tweets! Unfortunately, we need them to be complete. Can you send them without the ellipsis, please?

Best,
Marianne

[2022-07-19 13:50] fernandojvdasilva commented on #61
Hi Marianne!

Oh, I see! Actually I got the ellipsis by using the API, by I 'm going to
check if I can get the full tweet.

I just need some more days this time, because I may need to change
something in the code.

Best regards,

Fernando.

Em seg, 18 de jul de 2022 04:42, mtakili ***@***.***>
escreveu:

[2022-07-28 16:46] mtakili commented on #61
Hey @fernandojvdasilva!

Status update: we'll publish your article Friday, next week.  :)

I'll send you the link once it's live.

Thanks for your flexibility, cooperation, and work!

Cheers
Marianne

[2022-07-29 16:45] mtakili commented on #61
Hi @fernandojvdasilva!

Can you fill the thumbnail section of your article? I need at least a picture of you that you like so I use it for this article's promotion.

Talk soon,
Marianne

[2022-08-02 20:44] fernandojvdasilva commented on #61
Hi Marianne!

I'm sorry for my delay in reply... Actually, I just figured out why the
tweets were ending with ellipsis and I had to do a minor change in my code
and an important add to the article. I'll send another version by tomorrow.

Sure, I'll send the thumbnail too!

After all, I'm very excited the article is about to be published! I just
hope you can still consider this final change, becaus

[2022-08-02 22:43] fernandojvdasilva commented on #61
Hi Marianne!

I've just uploaded a new version of the article in the shared drive:
https://drive.google.com/drive/folders/17LIG1q9c2rTR-TP8IDQpWMzWKYkw00f8?usp=sharing

The changes are marked in yellow in Page 4 only, along with a piece of code
in the same part of the text.

Regarding the thumbnail, I've added one into the presentation that I
uploaded into the same directory, is that correct or sh

[2022-08-03 11:33] mtakili commented on #61
Hi @fernandojvdasilva,

Thanks for these updates.

We'll have to review the additional content you've created before posting it. As many of our teammates are off, it's likely to take a week or more. Sorry for this!

I'll let you know when we've determined a publishing date.

Best,
Marianne

[2022-08-16 09:29] theodu commented on #61
Hi @fernandojvdasilva
Sorry for the time to give an answer and a review, a part of the team is currently in holidays.
Thank you to have taken the initiative to add this feature to show the whole tweet with your scrapper! It will indeed help people to use the code more easily!

Also, In the V2 version, in the doc here: https://docs.google.com/document/d/1nL3zfPAvv1lgq1ZYfGUdDPlkcgGssRur/edit, we  a

[2022-08-17 12:23] fernandojvdasilva commented on #61
Hi Théo!

I think it was a great add for sure! I loved how it fits so well to the
article! :D

Best regards,

Fernando Vieira da Silva

Em ter., 16 de ago. de 2022 às 06:29, theodu ***@***.***>
escreveu:

[2022-08-22 07:12] mtakili commented on #61
Hello @fernandojvdasilva!

Thanks again for this nice addition and your flexibility! We're very happy to announce to you it has been published!

Here's the link: https://kili-technology.com/blog/creating-a-dataset-of-tweets. You can now send your invoice as mentioned in the guidelines.

Also, can you send me your @ on Twitter and LinkedIn, so we're sure to mention you correctly when sharing this o

[2022-08-26 06:10] mtakili commented on #61
Hello @fernandojvdasilva!

Can you also email me (marianne.tavel@kili-technology.com) your bill? We've been experiencing some bugs and I'd like to make sure you get paid asap.

Best,
Marianne

[2022-08-29 18:30] Madrinmarison opened #81 "[Predicting Insurance Charges using Regression Neural Network Model]"
### My resource

**Topic: Predicting Insurance Charges using Regression Neural Network Model**

**Outline:**
In this article, I will guide on how to develop a deep neural network model for insurance pricing. The model should take in the features of a client's health condition and return the cost an individual should pay to be insured.

The article will include the following steps:
1. Import the da

[2022-08-30 00:57] fernandojvdasilva commented on #61
Hi Marianne!

I'm very happy to see the article was published! I would like to thank you
and the Kili team for this opportunity! =D

I'm sending a picture that I use on LinkedIn, but with a high resolution
(please let me know if you need one with lower resolution).
My user on Twitter is @FernandoJVSilva and my user on LinkedIn is
https://www.linkedin.com/in/fernando-n2vec/

Regarding the invoice,